[2018-07-04 01:46] sjmiles commented on #1574
I looked at the `userIDComponent` stuff in runtime, and it looks like I can store the owner id in the `uid:` component on the Entity id. Then Particles can grab that information via `entity.getUserID()]`.

This way I can remove the `$id` alias and generally none of this code will rely on whole id access.

@shans is it ok for me to use `uid:` this way?

[2018-07-04 02:19] shans commented on #1574
This seem ok to me, yeah.

[2018-07-04 03:20] sjmiles opened #1600 "`map 'friends' #friends as friends` doesn't resolve"
Trouble resolving recipes that use this format:

`map 'friends' #friends as friends`

Mostly this problem is affecting serialized Arcs, but it's easy to reproduce simply:

Modify `shell/artifacts/Arcs/Dashboard.recipe` and replace

[code]

with

[code]

Now I expect `Dashboard` recipe will fail to resolve.

[2018-07-04 07:30] #1600 closed

[2018-07-05 00:47] piotrswigon commented on #1544
I'll close this for now, let's reopen when we decide what more we need/want.

[2018-07-05 00:47] #1544 closed

[2018-07-05 01:13] piotrswigon commented on #1479
We don't allow resolving `?` to anything but `create` right now. It's not too much work do change that, i.e. if types and tags match we can resolve `?` handle to a store via `map`/`use`/`copy` fate.

Taking a little bit longer term view on this though:
1) I can imagine `?` being used to say: "Create this or use existing one, I don't care". I don't however see right now how we could express this in

[2018-07-05 06:01] mykmartin opened #1604 "Support multiple handles with different types observing a common StorageProxy"
For example, given a proxy holding Person { Text name, Number salary, Text favourite_pub }:
- handle1 observes this as Friend { Text name, Text favourite_pub }
- handle2 observes this as Empolyee { Text name, Number salary }

[2018-07-06 03:19] piotrswigon opened #1607 "Remove variableMap argument from Type.clone()"
Issue as a reminder for @shans.

The argument is that `clone` should not be given a `variableMap`, as it should only be used for cloning a single type with understanding that type variable relationships between clones will not be preserved.

For cloning that preserves type variable relationships `_cloneWithResolutions` at the _context root_ should be done, the latter is the only method that should

[2018-07-06 04:32] piotrswigon opened #1609 "Revisit shape.restrictType wrt affecting type variable in the recipe."
#1606 introduced a lo-fi/experimental change to `shape.restrictType` that allows to call `restrictType` on a shape and have it affect type variables in the recipe.

We should revisit how this should be done properly.

[2018-07-09 05:38] piotrswigon commented on #1609
Also some small changes to maybe look into in #1612.

[2018-07-09 21:48] sjmiles opened #1615 "Lo-fi store descriptions should be generated by Runtime"
Code here:

https://github.com/PolymerLabs/arcs/blob/master/shell/app-shell/elements/fb-data/fb-user-
context.js#L159

is brittle and ideally is performed by the runtime, not the shell.

I think runtime stores may need some metadata to construct this descriptions. We should work out what is needed.

[2018-07-09 21:48] #1490 closed

[2018-07-09 23:23] sjmiles opened #1616 "description.js: `Cannot find particles with name XXX` is fatal"
If one uses the wrong name in a description directive, `description.js` fails an assert which throws an uncaught exception (halts the app completely).

E.g.

[code]

IMO, this mistake, and other errors that a recipe author could easily make, should emit warnings whenever possible instead of being fatal.

[2018-07-09 23:40] sjmiles commented on #1616
Another fatal error in this family:

`Uncaught (in promise) Error: slot connections tokens must have 2 names`

[2018-07-09 23:59] sjmiles opened #1617 "Attempted Verb Construction"
I have a working recipe like so:
[code]

I tried to rewrite this in terms of verbs:

[code]

which fails with this output in Strategy Explorer:
[code]

I also tried simplifying MuxedProductItem:

[code]

But then Strategizer creates suggestions that map `[ArcMetadata]` and `[Person]` collections into `ProductListVerbs` ... but those types are incompatible with `ShowProduct`.

[2018-07-10 00:21] sjmiles opened #1618 "Description capitalization incorrect in some cases"
In this example, 'Estimate' and 'Find' should not be capitalized.

[2018-07-10 06:59] piotrswigon commented on #1617
When `&muxProduct` is substituted we're just appending a use handle to the list of recipe handles, without considering whether it should be connected to some existing handle.

I won't have bandwidth for this before my leave, which starts this Friday. If @shans doesn't take a look at it in the meantime I'm happy for it to land on my plate later on. Sorry Scott...

With `require`/`construct` we prob

[2018-07-10 17:08] mmandlis commented on #1617
@piotrswigon Could we just _not_ append the use handle? If it is the right way to do, it'll be added by the add-use-handle strategy, but also leaves an opportunity for other handle strategies to find a match?

[2018-07-10 17:14] mmandlis opened #1620 "Refactor planificator results"
- Declare class for `current`, `past` and `future`
- Decouple `search` phrase used for strategizing and `search` phrase used for filtering suggestions
- Store info on how the latest `current` was generated (search phrase, whether contextual etc)

[2018-07-11 17:46] mmandlis opened #1626 "can't create new post"
on arcs-live, select the `Write posts, show post list, edit a post, and show details about post.` suggestion.
a new arc is created. the text `Get started by naming your miniblog and creating your first post!` appears, but there is no + button to create a new post.

Weirdness: it's somewhat flaky, it did appear once, but never since.

[2018-07-11 18:40] shaper opened #1628 "TypeError: Cannot read property 'id' of null"
Seeing many errors like below, as Walt user at ToT. Believe this error has been around for at least a week or two.

[code]

[2018-07-11 18:45] shaper commented on #1626
I believe you but I can't reproduce in ten reloads on Linux.

It's hard coded to 600px wide. Is your window smaller than that? Maybe it's just off to the right.

[2018-07-11 18:47] mmandlis commented on #1626
you're right, i'm stupid (and the time when i was able to see it, i didn't have dev tools open, haha).

[2018-07-11 18:47] #1626 closed

[2018-07-11 18:50] shaper opened #1629 "TypeError: Cannot read property 'length' of undefined"
Seeing this in logs today

`TypeError: Cannot read property 'length' of undefined`

It is sporadic but clicking around a few arcs and back to launcher as Walt user will eventually show it. I just repro'd by doing so and then using search box to create a new "Show post list" arc.

[2018-07-11 18:51] shaper commented on #1629
[code]

` log(`Produced plans [count=${this._next.plans.length}, elapsed=${time}s].`);`

`this._next.plans` is apparently undefined. @sjmiles @mmandlis

[2018-07-11 18:54] shaper commented on #1629
This could just be a logging bug, like, maybe this is normal and we just need to do `${this._next.plans ? this._next.plans.length : 0}`

[2018-07-11 19:48] sjmiles commented on #1628
At https://github.com/PolymerLabs/arcs/blob/master/runtime/particle-execution-host.js#L57 an event structure is expected that is `{handle, data: {value, keys}, particleId}`

However, at https://github.com/PolymerLabs/arcs/blob/master/runtime/storage-proxy.js#L312 the `data` object is constructed like so  `let data = {id, keys};`

I believe `value` in the former is intended to match `id` in the lat

[2018-07-11 20:46] shaper commented on #1577
Only the leaderboard remains. I asked @yuinchien to add mocks/explorations for a nice leaderboard to the task list.

[2018-07-11 23:42] dstockwell commented on #1628
I intended to pass `id` as `id`. So the bug is in particle-execution-host. There's a test that covers storage-proxy doing the right thing, but no tests invoked that logic in particle-execution-host 😞

[2018-07-12 00:41] #1628 closed

[2018-07-12 02:49] piotrswigon opened #1636 "Rewrite (Arc/Manifest).findStoresByType to use type variable constraints"
(Arc/Manifest).findStoresByType doesn't use type variable constraints (canReadSubset/canWriteSuperset) and returns lots of spurious results.

This makes handle mapping strategies (i.e. extending HandleMapperBase) return lots of invalid results.

[2018-07-12 03:08] piotrswigon opened #1638 "Implement coalescing on slots: Find provider for consume connection"
We need on-slot coalescing the other way as well, i.e. if a `consume` connection cannot be fulfilled locally we should find a recipe that provides a slot of respective name/tags.

[2018-07-12 03:22] piotrswigon opened #1639 "Allow FindHostedParticle to host a generic (using ~a) particle."
Currently this does not work as the type of the handle storing the particle spec has to be resolved for the recipe to be valid. If recipe is not valid, Strategizer discards such result and the ~a doesn't get a chance to get resolved later by other strategies.

We need to figure out how to fix this. Maybe `copy` handles with particle specs should need a concrete type? Maybe those shouldn't by `copy

[2018-07-12 03:31] piotrswigon opened #1640 "Implement search on particle/recipe description patterns"
i.e. if particle/recipe description (including a pattern) has a particular phrase, it should be possible to fetch it for strategizing when searching for that phrase.

[2018-07-12 03:33] piotrswigon opened #1641 "Stop relying on full init-population for text searches."
We should be able to strategize from the search string. Some ideas:
* search on description/pattern (#1640)
* fetch recipes having particles matching search
@mmandlis will surely have various ideas here.

[2018-07-12 06:31] piotrswigon opened #1644 "Can book a restaurant demo test broken by coalescing again."
Now that we load init population based on slots as well, we again have the issue where composed suggestions are available:

[code]

I don't know how it only broke travis with #1642 (see https://travis-ci.org/PolymerLabs/arcs/builds) but somehow it did.

@mmandlis can you decide what to do with it while I'm away (I need to run in 5 minutes) ? We can either update tests to be fine with those or go w

[2018-07-12 16:40] mmandlis commented on #1644
@seefeldb Do we want to fix strategizing to not produce this new coalesced suggestion, or do we want to fix the test?

[2018-07-12 17:31] #1536 closed

[2018-07-12 17:32] #919 closed

[2018-07-12 18:00] mmandlis opened #1645 "reenable demo-flow-test"

[2018-07-12 18:10] mmandlis opened #1646 "assert in map-slots strategy"
To reproduce use gift shopping demo:
- accept `Show products from your browsing context...` suggestion
- type * in search box and accpt the `List of products from your browsing context (Minecraft Book plus 2 other items) with selection.` suggestion

assert is fired:

assert-web.js:11 Uncaught (in promise) Error: Cannot override slot id 'slotid-!152763216838370:app-shell-iv6rp1hw04odm0u1:72' with '

[2018-07-12 18:11] seefeldb commented on #1644
In the short-term, let's just fix the test to watch for `Make a reservation.` including the `.` at the end.

[2018-07-12 19:01] mmandlis commented on #1645
The new flow will be:
- accept `Show products from your browsing context (Minecraft Book plus 2 other items).`
- accept `Check shipping for Claire (Claire)'s Birthday on 2019-08-04.`
- accept `Add items from Claire's wishlist (Book: How to Draw plus 2 other items).`
- click `Add` on one of the products in wishlist
- Check manufacturer information for products from your browsing context (Minecraft

[2018-07-12 19:16] mmandlis commented on #1645
https://docs.google.com/document/d/1w4chhyAyu9VgBxo4GWgnfua2l3l7UycB7wslfwbb9ic/edit

[2018-07-13 00:09] #1645 closed

[2018-07-13 22:48] seefeldb opened #1650 ""restaurants reservation" as query should work"
With intermediate steps like `nearbyrestaurants makereservation` (both recipe names) on the way there.

This should not use InitPopulation, but be driven by search finding candidates for `restaurants` and `reservation` and the strategizer figuring out which ones work together.

Coalescing should automatically add ExtractLocation, etc. (but intermediate steps where this is in a recipe are valuable

[2018-07-16 17:51] sjmiles commented on #1159
We merged this code in eventually.

[2018-07-16 17:51] #1159 closed

[2018-07-16 17:53] sjmiles commented on #1574
We used the `userIDComponent` to create `getUserID` API to avoid Particles handling id's directly.

We can consider variations and so on, but the immediate problem is resolved.

[2018-07-16 17:53] #1574 closed

[2018-07-16 17:58] sjmiles commented on #1477
Lots of work was initiated around this issue. It's not yet fully solved, but I believe this exact problem formulation isn't so useful anymore. Closing.

[2018-07-16 17:58] #1477 closed

[2018-07-16 19:07] sjmiles commented on #1006
Not fouling up state data in one of these trees remains a thorny problem, although I'm better equipped to handle it now.

Warning signs to look for include: modifying data on non-atomic properties (i.e. changing one record in an array then marking the entire array as mutated), external read-write agents (i.e. database persistence).

I still need to write something up about these issues, and in the

[2018-07-16 19:07] #1006 closed

[2018-07-17 01:53] sjmiles opened #1657 "Data Streams Crossed"
Sometimes I have observed an error that describes an attempt to assign a field from one Type into a mismatched Type.

I captured one case [here](https://polymerlabs.github.io/arcs-live/shell/apps/web/?arc=-LHZY2OW5cVwd9VMKPKS&user=-L8ZV2_gCxnL4SSz-16-).

In this case, it looks like it's trying to copy a PlaidAccount into a PlaidTransaction.

The message I see is:

[code]

[2018-07-17 17:11] #637 closed

[2018-07-17 18:11] smalls commented on #1189
I don't think this issue is tracking anything worthwhile (currently). As far as I can tell the tests have been more or less stable except when bugs are introduced.

Please re-open if I'm wrong!

[2018-07-17 18:11] #1189 closed

[2018-07-17 18:18] sjmiles commented on #1599
Fixed in #1654

[2018-07-17 18:18] #1599 closed

[2018-07-17 18:20] sjmiles commented on #1566
The primary issue is resolved, although the method used for cleaning Firebase keys is somewhat dubious. Closing for now.

[2018-07-17 18:20] #1566 closed

[2018-07-17 18:21] sjmiles commented on #1450
There is always more perf work that can be done, but I believe the egregious issues have been resolved: closing.

[2018-07-17 18:21] #1450 closed

[2018-07-17 18:24] sjmiles commented on #534
No long relevant.

[2018-07-17 18:24] #534 closed

[2018-07-17 18:29] sjmiles commented on #478
Old and has lost relevancy, closing.

[2018-07-17 18:29] #478 closed

[2018-07-17 18:30] sjmiles commented on #130
Obviously, we have gone a long way with this. This is ancient now.

[2018-07-17 18:30] #130 closed

[2018-07-17 18:31] sjmiles commented on #91
Xen uses a template-interpolation method instead of a VDOM, but we have DOM-on-a-wire, which I believe was the intent.

[2018-07-17 18:31] #91 closed

[2018-07-17 18:46] #989 closed

[2018-07-17 18:50] sjmiles commented on #989
Addressed in #1662 (and #1663).

[2018-07-17 21:56] sjmiles opened #1665 "Rename `/artifacts` to `/particles`"
It's a bit of a hassle, there are paths embedded various places.

Look for a time when we flush the Arcs database, or build in backwards-compatibility filters.

[2018-07-19 19:11] sjmiles opened #1670 "Trouble with Tags in planner-tests"
There are two tests in planner-tests that check automatic recipe composition against Common/List artifacts.

`  it('composes recipe rendering a list of items from a recipe', async () => {`
and
`  it('composes recipe rendering a list of items from the current arc', async () => {`

I modified the Common/List artifacts to only work with handles marked as `#items` or `#tiles` tags (as a way of prescri

[2018-07-19 19:22] sjmiles opened #1671 "Consider more explicit `create`"
Empirically, when creating Particles I have not had a situation where I wanted to either use an existing Store, or have one created automatically.

Instead, typically I have Recipes that consume Stores and Recipes that can initialize them, and the two tend to be distinct.

Otoh, I definitely have scenarios where I want to `use` or `copy/map` a Store depending on whether the Store is in Arc or Cont

[2018-07-19 19:58] sjmiles commented on #1657
This problem has become more pronounced in latest builds.

Repro:
1. From launcher, type 'plaid'
2. Choose 'Show Plaid Accounts..."
3. Choose 'Show Plaid Transactions..."
4. Click an account in the list

Exception thrown:
[code]

P.S. the transaction list tends to update anyway, but you may notice the data is wrong when switching between the first and third accounts. I believe this is a change-not

[2018-07-19 20:59] sjmiles opened #1673 "behavior of `store.remove(id)` if id is not in store"
It looks like if I `store.remove(id_not_in_store)` we end up throwing an exception at StorageProxy.js#248 (it tries to evaluate `value.id` for a null value).

If I have diagnosed this correctly, then it probably should do something more meaningful (i.e. work silently, error, or warn more directly).

I may have misdiagnosed this, it just came up in the middle of debugging something else.

[2018-07-20 00:48] #1670 closed

[2018-07-23 20:32] mykmartin commented on #1673
I can't seem to repro this - is this inside or outside the PEC?

If outside, the StorageProxy shouldn't be invoked at all. If inside, the Handle.remove API uses entities, not ids. I tried using handle._proxy.remove but didn't have any problems.

[2018-07-23 20:38] mmandlis opened #1679 "Uncaught TypeError: Cannot set property 'state' of undefined"
causes demo-flow-test.js to fail.
The instantiated recipe is `Chooser & Multiplexer2(AlsoOn)`
Locally the failure occurs only when running tests about 100 times.

I suspect this is something in the multiplexer (because the Chooser occasionally does send the `renderSlot` request in failing runs, but not Multiplexer2)

[2018-07-23 21:09] mmandlis opened #1680 "Gift shopping demo - Chooser particle doesn't render"
"Add items from Claire's wishlist" (ie Chooser particle) doesn't render, when the suggestion is accepted.
However, it does render on "refresh"

[2018-07-24 16:53] shans commented on #1680
It looks like this might be a race condition between firebase (from cloud-handles) and the copy of the handle?

[2018-07-24 16:56] mmandlis commented on #1680
@sjmiles could you, please, take a look?

[2018-07-24 17:00] mykmartin commented on #1673
Ok I'm seeing the problem when running live (I was using unit tests before). Investigating.

[2018-07-24 18:30] #1673 closed

[2018-07-24 18:59] mmandlis commented on #618
haven't seen this for a very long time, can't reproduce any more with the current demos. closing.

[2018-07-24 18:59] #618 closed

[2018-07-24 19:55] shans commented on #1657
One or more of the handles in the arc is ending up with both Account and Transaction instances in it, which shouldn't be possible from within a recipe (and probably is actually impossible from within a recipe).

We suspect that the cloud-handles impl is connecting the wrong firebase subroot to the handle. At least, #nosync on the impacted handles makes the issue go away.

It also seems to only tri

[2018-07-24 22:34] mmandlis commented on #1618
Can't reproduce this anymore with the updated demo, please, reopen if there is a repro.

[2018-07-24 22:34] #1618 closed

[2018-07-24 23:01] sjmiles commented on #1680
Yes, this problem was in cloud-handles.

Variables that are copied have an initial value not mirrored in FB, and cloud-handles was clobbering that value with nothingness.

Repairs en route, although we will make cloud-handles go away wholesale, asap.

[2018-07-24 23:17] #1638 closed

[2018-07-25 00:36] #1657 closed

[2018-07-25 00:36] #1680 closed

[2018-07-25 14:34] shans commented on #1679
Can you add the file & line where this is coming from? We should be able to plumb it through to a system exception at least.

[2018-07-25 14:35] shans opened #1689 "Wire up system exceptions so that they terminate the faulty arc."

[2018-07-25 19:29] sjmiles opened #1692 "Particle not updating: wrong signalling for muxed item data changes"
https://polymerlabs.github.io/arcs-live/shell/apps/web/?serial=&arc=-LIHtapeVBM9zilc4XBJ

Clicking one of the `account` entries (Plaid Savings, Plaid Checking, Plaid Premier Checking, Plaid Credit Card)  in the first list generally displays corresponding `transaction` entries in the second list.

However, when switching selection between `Plaid Savings` and `Plaid Premier Checking` (or vice versa)

[2018-07-26 19:11] mmandlis opened #1696 "TV show tiles: 2 shows are rendered in to the same tile"
to reproduce:
- Accept `Show tv show list as tiles and find tv shows.`
- Type a show name (for example "legion")
- Show tiles show up
- Type another show name (for example "eve")
- Some tiles render 2 shows in the same tile.

[2018-07-26 19:13] mmandlis opened #1697 "Assert when disposing an arc"
[code]

To reproduce with TV shows demo:
-  Accept "Show tv show list as tiles and find tv shows."
- Search for a show (eg "eve")
- click the `launcher` icon -> assert!

[2018-07-26 19:48] sjmiles opened #1699 "`#copy` Store is not persisted"
Requires #1698 to repro, with `serial` and `store` options enabled.

Common/List.recipes contains:
[code]

The `Show plaid account list...` suggestion uses this recipe and copies a context store that was created from JSON via manifest ([PlaidDemo.manifest](https://github.com/sjmiles/arcs-stories/blob/master/0.4/Demo/PlaidData.manifest)).

The copied store is persisted into Firebase (there is a nod

[2018-07-26 19:51] sjmiles opened #1700 "Runtime storage persisting transient multiplexer handles into Firebase"
Requires #1698 to repro, with `serial` and `store` options enabled.

Multiplexers carve Collections into individual Entity handles. Each of these handles is being persisted to Firebase (which I think is not what we want).

[2018-07-26 20:00] sjmiles opened #1701 "Tracking issue: deprecating Shell cloud shims"
Relevant tickets

~~#1699~~
~~#1700~~
~~#1774~~
~~#1783~~
#2065

[2018-07-26 21:25] dandv opened #1702 "Add a description, tags, and website for this repo on GitHub"
![image](https://user-images.githubusercontent.com/33569/43289390-b27e3440-90df-11e8-9875-33481fb05e06.png)

[2018-07-26 23:37] sjmiles commented on #1479
See #1671

[2018-07-26 23:37] #1479 closed

[2018-07-27 00:00] #1697 closed

[2018-07-27 19:11] mykmartin commented on #1692
Ack; I can see the problem on the arcs-live link, but using a local server I'm not getting the transaction list at all. (Repo is at commit 2a0fe9f5)

[2018-07-27 19:35] mykmartin commented on #1692
Ok, repro'd locally using the same arc as above.

[2018-07-27 20:48] mmandlis opened #1706 "particle rendering stability"
2 particles that consume the same slot, render into it in an arbitrary order.

for now we can work around it with layout particles, but we should implement a proper solution:
https://docs.google.com/document/d/1S-5U2P5gN_QB40IFWf3hdxhjwnZqEXU5SCNbHut_xtE/edit#heading=h.7puva0tc36i8

[2018-07-27 21:19] mykmartin commented on #1692
And now the live link doesn't show the transaction list. I tried pulling the sjmiles repo locally so I could fiddle with the plaid particles, and changing the import list in shell/apps/common/config.js appears to have affected the live instance.

[2018-07-27 21:30] shans commented on #1617
verb substitution doesn't do handle mapping (at least at the moment). It isn't clear to me that it should.

Try something like:

[code]

[2018-07-27 22:33] mykmartin commented on #1692
I attempted to up-poison the live instance by reverting my local changes, rebuilding and refreshing the locally-served page. Hasn't helped; the live link still won't show transaction lists.

Scott: what user are you operating as for this bug?

[2018-07-29 21:59] shans commented on #1699
From what I can see, the FirebaseCollection thinks it has persisted the data, but the data never actually persists.

e.g. the FirebaseCollection has version 1 and no localChanges; in Firebase the version is still listed as 0.

Will dig deeper.

[2018-07-29 22:29] shans commented on #1699
OK, copy is implemented as "cloneFrom", which wasn't ever hooked up to the new CRDT persistence mechanism.

[2018-07-30 15:53] #1696 closed

[2018-07-30 18:42] sjmiles commented on #1692
Sorry, I didn't include the instructions for rebuilding the arc. Here are the steps for posterity:

1. search for `plaid`
2. choose 'Show plaid accounts...'
3. search for `plaid`
4. choose 'Show plaid transactions...'
5. Try clicking account entries.

[2018-07-30 19:12] sjmiles commented on #1692
This should not be possible. All JS files should flow from `github.io` if you are using arcs-live.

[2018-07-30 19:34] mmandlis opened #1710 "Debug mode for strategies to explain why no recipe is produced"
Allow strategies when they don't output a recipe to return a message explaining why no recipe is returned (and display it in strategy-explorer).

[2018-07-31 05:15] shans commented on #1692
This issue looks like a problem in render updates, not in notification. If I put a breakpoint on line 73 of List.js  then I see the notification for the new list items come through (and this results in a new model being returned), but that obviously gets lost somewhere between the return statement and rendering.

[2018-07-31 10:32] shans commented on #1692
Further to this, there are actually render calls being made to PlaidTransactionItem for the items to be rendered, so all the data is getting to the right places. Something in Slot rendering maybe?

[2018-07-31 21:00] mmandlis opened #1714 "Duplicate suggestions with the only difference of search tokens"
non empty search that produces an already existing suggestion will show up twice, because search affects the recipe hash.

[2018-07-31 21:38] #1700 closed

[2018-07-31 21:54] shans opened #1715 "Assert in planificator after accepting suggestion"
There's an assert at planificator.js:259 if I start up arcs (as Berni) with ?serial=&store= and accept the 'plaid' recipe suggestion.

The assert ensures that planString (presumably the selected suggestion?) matches one of the current plans.

planString is:
[code]

There are 29 current plans. The closest match is:

[code]

Note that this is the next-stage recipe (i.e. adding transactions to the ac

[2018-07-31 22:13] mmandlis commented on #1715
It is reproducible with my user as well.
But not without `?serial=&store=`.
How do these affect instantiated plan / replanning, I wonder?

[2018-07-31 22:53] shans commented on #1715
Maybe just performance? As in with these settings, something is faster or slower, which manifests the race?

[2018-07-31 22:58] #1699 closed

[2018-07-31 23:00] mmandlis commented on #1692
I can reproduce the problem on arcs-live. Will debug now.
But locally I don't get the "show plaid transactions" suggestion, any ideas?

[2018-08-01 00:06] mmandlis commented on #1692
My theory is that this is happening because the 2 accounts have the same number of transactions (I cannot verify it, because I cannot reproduce locally @sjmiles I need you help here).

When transactions' SelectableList gets renderSlot call with the new model and the new model has the same number of items, when doing the model update xen call, the live dom isn't changed and hence the observer isn't

[2018-08-01 19:54] mmandlis commented on #1692
In more detail, the problem happens because when `List` particle is rendered with the same number of items, even though theses are different items, the Observer isn't called https://github.com/PolymerLabs/arcs/blob/master/runtime/slot-dom-consumer.js#L255, and so the `Multiplexer`'s slot containers aren't being updated.

I created this PR to make it easier to reproduce and debug this problem local

[2018-08-02 06:41] mykmartin commented on #1702
Added a description.

[2018-08-02 06:41] #1702 closed

[2018-08-03 04:49] #1413 closed

[2018-08-03 19:19] lindner opened #1724 "Clean up License issues in Arcs"
- Add top-level LICENSE file so github is able to interpret it.
- Add license attribute to package.json

[2018-08-06 20:27] mmandlis opened #1731 "planificator initial empty search results force empty results even after search was changed"
to reproduce:
- load arcs
- while the very first planning is still ongoing, type a dummy query (one that doesn't return any results) into the search box
- wait for the search-change triggered planning to return empty results
- type `*` into the search box
result: still no suggestions

[2018-08-06 22:13] #1731 closed

[2018-08-07 01:26] mmandlis commented on #1714
@shans and I discussed a potential solution of:
- considering `search` resolved only if ALL tokens were resolved
- adding a strategy to discard non-resolved tokens for terminal recipes
- not serializing resolved search tokens

Then search-based recipe
[code]
is resolved to
[code]
and it is same as straight forward recipe that was declared in a manifest:
[code]

This solution doesn't work, because

[2018-08-07 01:42] shans commented on #1714
how was this working before? We kept the entire search string around?

[2018-08-07 02:24] mmandlis commented on #1714
yes, before we would serialize everything, like:
[code]
where the resolved search tokens come in the comment //

[2018-08-13 20:46] lindner opened #1765 "Migrate runtime to typescript"
Now that we've used typescript a bit let's use this issue to determine the end state that we want wrt typescript in Arcs.

Would be good to add the set of tasks to get there, and estimates of the engineering effort required.

[2018-08-15 20:39] lindner commented on #1765
Is this something you'd like to own going forward?  I'm going to focus mainly on the storage/cloud things (and big thanks for migrating that first!)

[2018-08-15 21:04] sjmiles opened #1774 "Gifts Demo failing firebase-storage version assertion (using runtime storage & serialization)"
1. Start launcher with `&serial&store` arguments.
2. Begin _Gifts Demo_ flow by typing a search term (e.g. `brows`)
3. Choose `Show products from your browsing context...`.
4. Choose `Check shipping ...`

Assertion fails at L327 of `firebase-storage.ts` because `data.version > this.version` resolves to `0 > 1`.

Reproduced via arcs-live, should repro from any user (I used `Cletus`).

Previous issu

[2018-08-15 21:06] sjmiles commented on #1774
Side note, it's generally helpful if assertions like this describe themselves (via the second parameter to `assert`).

[2018-08-15 22:30] lindner commented on #1774
I notice that `version` isn't a declared member of the class.

[2018-08-15 22:39] shans commented on #1774
version is in the superclass chain.

This is super weird; firebase is sending a {version: 0} message, but as far as I can tell this is a newly constructed location, so that shouldn't be happening. We're not sending any commits to firebase before the assert, either.

I wish Doug was around to look into this :(

[2018-08-15 23:07] lindner commented on #1774
also fails at d1a0360db37190906066f50e9bd6b201444492da

bisecting

[2018-08-15 23:35] sjmiles commented on #1774
Thanks for the help!

[2018-08-15 23:50] sjmiles opened #1777 "PlaidTransactions regression"
Previously, the coalescer could produce a `Show plaid transaction list` suggestion by automatically combining `ItemMultiplexer`, `SelectableList`, and `PlaidTransactionFilter` (for an Arc that already contains `Show plaid accounts...`).

Bisecting on ArcsLive, this suggestion is [produced ](https://cdn.rawgit.com/PolymerLabs/arcs-live/cc682005ff7b22dda3cfbccde0d2c7f36641e0ff/shell/apps/web/index.h

[2018-08-16 01:17] #1774 closed

[2018-08-16 23:44] sjmiles opened #1783 "Gifts Demo failing to instantiate Particles (using runtime storage & serialization)"
Start launcher with `&serial&store` arguments.

Begin Gifts Demo flow by typing a search term (e.g. `brows`)
Choose `Show products from your browsing context....`
Choose `Check shipping ...`

The `Arrivinator` and `AlternateShipping` particles should materialize into the DOM, but they do not. It looks like the JavaScript files for those particles is never loaded either.

Notes
1. these particles a

[2018-08-17 00:57] shans commented on #1777
That looks likely. I'm probably not going to be able to pull together enough context to fix/address this in a reasonable time, is it OK to wait for @mmandlis to get back?

[2018-08-17 18:26] sjmiles commented on #1777
Yes, that's ok. I know you have three plates worth on your plate already. Thanks for spot-checking, that's all I needed when I assigned you.

[2018-08-17 21:08] lindner opened #1786 "User Switching and serving should use different ports"
Today you can switch users with UI.   This means that each users data is stored on the same origin.

Instead serve each user on a specific port.  The user switching widget would then just open a new window when switching.

We can also do some really cool demos with multiple users running in iframes showing how the systems communicate.

[2018-08-20 21:07] lindner commented on #1724
Consider adding https://www.npmjs.com/package/js-green-licenses to verify that licenses are correct.

[2018-08-20 23:23] lindner opened #1791 "Add support for Web Cryptography APIs"
At the least replace usage of Math.random.  I suspect there are others.

https://www.w3.org/TR/WebCryptoAPI

[2018-08-22 02:13] #1783 closed

[2018-08-22 05:10] lindner opened #1798 "Shape.handlesMatch returns non-boolean"
See:

https://github.com/PolymerLabs/arcs/blob/1e58cc301dde2ddcc28d9f30d13ea4da381e0e43/runtime/ts/shape.ts#L328

The following return value is not a boolean.  Can someone with more knowledge of this history advise?

[code]

The code in question is called later on like this:

[code]

This is effectively evaluating to true.

[2018-08-22 08:39] lindner opened #1799 "Add Greenkeeper Service to keep dependencies tested and fresh"
[Greenkeeper](https://greenkeeper.io/) is used by AMP and other projects to keep npm up to date.

[2018-08-24 01:37] sjmiles opened #1810 "Node/Web Import Compatibility"
Historically, we maintained ES6 module compatibility across all modules, so that we could `import` a source tree from either Node or Web context without loss of generality. This ability is particularly useful for doing edit/debug cycles without requiring a build step.

`shell/apps/web/index.debug.html` is an example entry-point that took advantage of this feature.

Recently we have introduced some

[2018-08-24 02:15] shans commented on #1810
Am I wrong in my belief that we only stopped maintaining this compatibility with @lindner 's recent patch? Or are there some older patches too?

[2018-08-24 19:35] sjmiles commented on #1810
I think this came up as part of @linder's work. We talked about it f2f, he asked me to make this ticket.

[2018-08-24 20:00] sjmiles commented on #1810
Fwiw, it's relatively easy to resolve this problem wrt Firebase. For example, in `firebase-storage.ts` I can replace
[code]
with
[code]
Where `runtime/firebase.js` looks like this:
[code]

Unfortunately, this doesn't actually make `index.debug.html` work as the new runtime/ts source uses node-style imports in general which isn't compatible with the browser loader. For example, `ts-build/storage-pr

[2018-08-24 20:13] sjmiles commented on #1810
Sorry for the noise, but I kinda have it backwards above.

[code]

[2018-08-24 21:33] lindner commented on #1810
Some interesting writeup here:

https://nolanlawson.com/2017/01/09/how-to-write-a-javascript-package-for-both-node-and-the-browser/

I wonder if we could make a single import that covers our external dependencies?  That way node and the browser could have a consistent view of the world....

[2018-08-27 00:15] mykmartin opened #1814 "Investigate id mapping in API channel"
ThingMapper.createMappingForThing selects from three sources when setting up the id used to map each Thing:  explicitly requested (through APIPort.registerInitializer), thing.apiChannelMappingId (which only StorageProviderBase has) or a newly generated one.

This could probably be made simpler and clearer :)

[2018-08-27 19:43] sjmiles commented on #1724
We have a variety of license header comments in our source files too, we be nice to standardize.

[2018-08-27 21:02] sjmiles opened #1819 "Update Chromecast app"

[2018-08-28 05:44] shans opened #1821 "Start checking for 'hanging promises' in our tests."
Using node's async_hooks API in our tests, we can do something like this:

[code]

The idea being that there shouldn't be any async resources left over that weren't triggered by some kind of parent context.

I played around with this briefly in the firebase manual tests - there are a *bunch* of leftover promises so we've probably got a bit of work to do.

See https://nodejs.org/api/async_hooks.htm

[2018-08-28 06:11] lindner commented on #1821
Intellij/WebStorm can detect these:

*Result of method call returning a promise is ignored inspection*
This inspection reports function calls that return a Promise that is not
later used. These are usually unintended and indicate an error.

On Mon, Aug 27, 2018 at 10:44 PM shans <notifications@github.com> wrote:

[2018-08-28 17:50] lindner commented on #1798
Can someone have a look at this inconsistency?

[2018-08-28 18:02] lindner opened #1823 "firebase-storage uses nullable version"
firebase-storage uses a null version to signify special processing.  However all of the usages of version are not null checked.  This needs to be fixed to allow for strictNullChecks.  If the version is changed to non-nullable in storage-provider-base only the following error is emitted:

[code]

However if version is allowed to be null then there are about 30-40 instances of version use that are n

[2018-08-28 22:19] sjmiles commented on #1671
Still seeing problems in this area. E.g, from `Places.recipes`
[code]
Today (8/28/2018) the system creates a suggestion by adding `create location`. This is non-sensical, the point of this recipe is to map an existing location.

Also, at this stage, this recipe will not coalesce with other recipes that produce `location`

Suggestion generated  (bad):
`Show FIXME on a map.`

Adding a explicit handl

[2018-08-29 21:25] sjmiles opened #1828 "Find out what prevents Arcs from running on IOS/Safari"
Last time I looked, the shell ran ok, but somewhere Arcs runtime gets stuck waiting for a Promise or other async effect to complete (which never does).

I assigned all the engineers in case somebody wants to jump on this. Please un-assign yourself if this feels out of scope for you.

[2018-08-31 00:55] mmandlis commented on #1777
This is happening because the coalescing updated in #1713 (@sjmiles, thanks for the bisecting!) tries to coalesce all the possible handles, and finds `selected` (as the selected account) and `selected` (as the selected transaction) as a possible match.
This is wrong, because their type isn't the same. Will work on a fix now.

[2018-09-01 01:18] mmandlis opened #1838 "Coalescing strategy should also work on recipes that are resolved but have no UI"
If a recipe is resolved but doesn't consume any slots, it won't be displayed as suggestion,
hence the coalescing strategy should try to find a recipe that will display the data produced by this recipe.

[2018-09-04 21:26] #1692 closed

[2018-09-05 21:29] mmandlis commented on #1828
I think, this is smth to do with out of memory:
Loading every manifest as solo works fine, except the restaurants one. If I comment out any single recipe out of Restaurants, I get suggestions too. With all the possible combinations of coalescing it gets stuck.
This is as far as I got for now.

[2018-09-05 21:38] shans opened #1852 "Adding 'favorite food' in a shared restaurant demo arc causes assertion in other shared views."
If you

(1) follow the restaurant demo flow through to the point where (say) Walter and Berni both have a view of the arc open, and the arc has the restaurant list as well as calendar included.

And then

(2) select one of the "favorite food" suggestions in the view that was opened *second*

then there's a failing assertion "Duplicate root slot annotation" from line 139 of slot-dom-consumer.js.

[2018-09-05 21:39] shans opened #1853 "When sharing the restaurant arc with a second user, sometimes the date doesn't appear"
Reloading fixes this sometimes, as does changing the date from the first user.

[2018-09-05 22:49] mmandlis commented on #1852
The exception is happening in the other view (not the one where suggestion was accepted).
This is because that view tries to `consumeSerialization` and re-create slot composer with the `document.body` where the particles are already rendered.
@sjmiles maybe we should be disposing the current arc, because consuming serialization (here: https://github.com/PolymerLabs/arcs/blob/master/shell/app-shell

[2018-09-05 22:50] mmandlis commented on #1852
if after the assertion failed, I refresh that window, there is another (unrelated) problem - if the user I'm using there doesn't have access to `Walter's favorite food`, the recipe cannot be resolved, because the favorite food handle is unresolved. @shans i don't think this is related to the firebase changes either.

[2018-09-06 00:59] mmandlis opened #1854 "Support plan `relevance` (aka quality metric)"
Relevance consists of several metrics, for example whether the plan is suitable for consumption. This is affordance dependent - running in `dom` affordance the plan must consume slots (ie produce UI) in order to be relevant. In cloud affordance, a no-UI recipe may be relevant as well.

Plan is relevant in the context of a given arc. `plan.isResolved` verifies that all handles/slots has IDs (are re

[2018-09-06 01:00] mmandlis commented on #1854
(this is a follow up issue for https://github.com/PolymerLabs/arcs/issues/1838)

[2018-09-06 23:27] shans commented on #1777
Actually, it isn't wrong. The type system is correctly inferring that these recipes can merge as long as the data on the merged handle is (at least) both a PlaidTransaction and a PlaidAccount.

There's no technical reason at all why this combined recipe can't be used, so you'll need to work out another way to eliminate it - possibly by trying to resolve the combined handle to point to a store? Alt

[2018-09-07 04:03] #1838 closed

[2018-09-07 16:45] #1777 closed

[2018-09-07 17:27] mmandlis commented on #120
This is already supported.

[2018-09-07 17:27] #120 closed

[2018-09-07 17:31] mmandlis commented on #360
I think this issue is obsolete.

[2018-09-07 17:31] #360 closed

[2018-09-07 18:26] mmandlis commented on #950
This was done in https://github.com/PolymerLabs/arcs/pull/1289

[2018-09-07 18:26] #950 closed

[2018-09-08 00:41] mmandlis opened #1865 "Assert in Words game"
Happens on arcs-live every second move or so:

assert-web.js:11 Uncaught (in promise) Error: cannot add without new keys
    at assert (assert-web.js:11)
    at CrdtCollectionModel.add (crdt-collection-model.js:45)
    at CollectionProxy._processUpdate (storage-proxy.js:267)
    at CollectionProxy._processUpdates (storage-proxy.js:185)
    at CollectionProxy._onUpdate (storage-proxy.js:150)
    at

[2018-09-10 18:43] #1616 closed

[2018-09-10 20:57] mmandlis commented on #1865
Related or not,
Every move I make in the game, creates a new Board under `backingStores` in firebase, and the version is forwarded by 2 or more.
Deleting the arc doesn't delete any of the boards.

[2018-09-10 21:02] shans commented on #1865
Deleting the arc shouldn't delete the data. It sounds like the Board has a new id every time it's written? That seems maybe wrong - we should eventually be relying on entity mutation I would think, so should simulate that for now by writing with the same id.

'cannot add without new keys' - any chance you can figure out what data is being written when this triggers? Is it the board?

[2018-09-10 21:10] mmandlis commented on #1865
The data that's being written has `renderRecipe` and `renderParticleSpec`, so i think it's a `Post` (https://github.com/PolymerLabs/arcs/blob/master/artifacts/Social/Post.schema#L27) .

Also I noticed some inconsistency - depending when i leave the arc with the words game and go back to launcher, it is or isn't reloaded properly when I open it again (even it's name is sometimes not set to "play wo

[2018-09-10 22:07] shans commented on #1865
No, the idea is that data remains present because it might be used by more than one arc (before this wasn't a problem as the data was always copied). We might look at a way to refcount data so that we can clean up genuinely unused entities in the future.

[2018-09-11 11:34] shans commented on #1821
Unfortunately it isn't this simple. For example, set() and get() are async methods - and sometimes it's correct to await them, because you want to know that something has been stored before you continue.

On the other hand, sometimes it's completely acceptable to ignore the returned promise - e.g. if an event handler provides some update data and you use the data to set() a variable (or store() a

[2018-09-11 20:29] seefeldb opened #1874 "Glowing inline suggestions"
https://codepen.io/yuin-chien/pen/aaYqVR is Yuin's animation and styling for the inline chips.

Can we apply the same CSS to the inline suggestions?
(Once we seem them in context we can adjust frequency and speed of the animation)

[2018-09-12 05:05] piotrswigon commented on #1479
FWIW Maria fixed this and '?' handles can now be mapped to any storage. Yay @mmandlis!

[2018-09-12 18:11] lindner opened #1878 "Arcs Circular Dependencies"
There are probably more, but these ones were quickly found:

madge --circular .
Processed 1311 files (20.4s) (105 warnings)

✖ Found 12 circular dependencies!

1) runtime/recipe/type-checker.js > runtime/ts-build/type.js
2) runtime/ts-build/type.js > runtime/ts-build/schema.js > runtime/entity.js
3) runtime/ts-build/type.js > runtime/ts-build/schema.js
4) runtime/recipe/type-checker.js > runtime/t

[2018-09-12 18:39] shans commented on #1878
Would be interested in a discussion of whether this is an short-term or long-term issue; for example, types are circular because they are recursive (i.e. a type can be a type variable that can contain a resolved type). Trying to fix this issue is going to complexify the code; is it worth doing anything soon or something that can be saved for the next type system refactor?

[2018-09-12 22:12] shans commented on #1823
Another way of thinking of this is that we need to audit the 30-40 instances of version and ensure that they can only run when version isn't null. However I'm guessing that TypeScript isn't all that great about reasoning about types in general - for example, does this pattern cause TS2531?

[code]

How about this one?

[code]

[2018-09-12 22:31] shans commented on #1823
In the former case, we can provide a type guard:
[code]

works just fine.

Unfortunately we can't assign the `never` type to a more high-level assert function for better semantics:

[code]

[2018-09-12 22:34] shans commented on #1823
The latter case works fine:

[code]

[2018-09-15 19:46] mmandlis opened #1890 ""can't construct entity with null data" exceptions in Restaurants demo"
to reproduce on arcs-live:
(1) accept "Find restaurants near X location" (in a new arc)
(2) click on any restaurant
(3) refresh page

the arc fails to load, seeing empty page.

Note: the assert also appears if skipping step (2) and refreshing immediately after (1). But in this case the UI is still showing fine.

[2018-09-18 01:24] mmandlis opened #1893 "Store version serialized as `@null` and fails to deserialize"
To reproduce in arcs-live:
1) accept "Select X favorite food" suggestion
2) the `serialization` in fb contains:
[code]
When trying to deserialize, getting the following error:

[code]

Here is the serialization code:
https://github.com/PolymerLabs/arcs/blob/master/runtime/arc.js#L147

@shans Let me know, if you think just serializing version as 0 is fine and i'll prepare a PR.
FYI: At first I susp

[2018-09-18 05:52] shans commented on #1893
If I manually serialize, then I get this resolving to version 0. So this is probably a race condition in precisely when we choose to store the serialized version.

Based on that, I think that it's definitely fine to always convert 'null' to 0.

I'm happy to prepare the PR if you want?

[2018-09-18 06:52] #1893 closed

[2018-09-18 16:44] mmandlis opened #1901 "Local slot IDs aren't part of recipe serialization and are inconsistent across arc instances"
At the moment only remote slots (the ones already pre-existing in the arc) has IDs and these are the only slots serialized in a recipe:
https://github.com/PolymerLabs/arcs/blob/master/runtime/recipe/slot.js#L145 (local slots are skipped in serialization)
The local slot IDs are generated at recipe instantiation time in the arc: https://github.com/PolymerLabs/arcs/blob/master/runtime/arc.js#L404

Ho

[2018-09-18 16:50] mmandlis commented on #1901
This is a problem for decentralized planning, because recipe is generated in one arc instance and run in a different one in parallel.

For example:
[code]
recipe one is produced and serialized.
Each of the two arc instances (1 - "cloud-like" instance that doing the planning, 2 - "browser-like" showing suggestions) generates a different slotID for slotB when the plan is instantiated.

So when the n

[2018-09-18 17:05] mmandlis commented on #1901
Proposed solution #1:
generate IDs for all slot at manifest parse time.

Problem:
Currently we use slot's sourceConnection (for local slots) OR id (for remote) to determine whether the slot is resolved.

If ids exist for local slots as well, then a slot that does NOT have a sourceConnection (is not provided within this same recipe), but does have an ID, it's impossible to determine whether it is r

[2018-09-18 17:06] mmandlis commented on #1901
Temporary solution: I'll generate the local slots IDs at suggestion serialization (similar to hosted particle solution proposed here: https://github.com/PolymerLabs/arcs/pull/1894#issuecomment-422281117)

[2018-09-18 22:07] lindner opened #1902 "Failing test Arcs demos can book a restaurant"
This has been flaky/failing for a while now.  We should disable, then fix.

[2018-09-20 01:27] mmandlis opened #1913 "`Duplicate root slot X` when arc is open in 2 tabs"
To reproduce in arcs-live:
- Accept "find restaurants" suggestions
- Duplicate the tab
- In one of the tabs, accept "Make reservations" suggestion
- In second tab, the assert fires: `Duplicate root slot X`

[code]

This happens because slot-composer is initialized with the DOM element that already has the arc instantiate and rendered in it.

@sjmiles should we dispose the current arc, before deser

[2018-09-20 02:42] mykmartin opened #1914 "Mocha under Windows dislikes test files starting with 'u'"
[code]

[2018-09-20 20:23] sjmiles opened #1925 "Selenium tests need reworking"
Right this moment, I suspect the Selenium tests are more trouble then they are worth. I spent a few hours trying to identify/spot-fix the latest flakiness, but I'm afraid there is too much technical debt.

At least, for my $0.02, it's worth a rebuild, which I'm willing to take on at first opportunity.

[2018-09-20 20:36] mmandlis commented on #1890
here: https://github.com/PolymerLabs/arcs/blob/master/runtime/handle.js#L24, i'm getting an `entry` that is:
[code]
This is a strangely looking `storageKey` - is this the problem? any ideas how this could happen? @shans

[2018-09-20 21:03] sjmiles opened #1928 "Coalescer ignoring/eliding `must` from provide directive"
Coalescer produces the recipe at the bottom (text copied from StrategyExplorer).

DetailSlider is declared like so:
[code]
but in the recipe the `must` is gone from the provide directive, and since there is no consumer of `content` (if I'm reading it right), this recipe is not valid.
[code]

[2018-09-20 21:08] mmandlis commented on #1928
hmm, the `content` slot is consumed by `SelectableTileList.root`:
[code]
They both work on the same `selected` handle, so this is technically correct..

[2018-09-20 21:46] sjmiles commented on #1928
Ok, I missed that.

Btw, it would be helpful if the human-names could be preserved when possible, unless there is some reason not to do that. Converting named-slots and handles into anonymous labels makes it a lot harder to debug.

So, this is technically correct, but has two problems:
- produces a second suggestion with the same text as the unaltered recipe
- this recipe makes no sense (from a hu

[2018-09-21 04:36] mmandlis commented on #1928
In fact, the matching is done if the slot name or tags match (and slot name is also considered a tag).
So because the SelectableTileList's root slot connection has `#content` tag on it - they are matching.
Is it possible to rename either the consume connection or the tag?

We do have future plans to dedup/group/prioritize/etc.. duplicate recipes, but for now we'll have to work around it somehow...

[2018-09-21 17:06] sjmiles commented on #1928
Fwiw, `SelectableTileList` is intentionally consuming either 'root' or 'content'. I'm using the slot tag hack you recommended to achieve this flexibility.

[2018-09-21 18:37] sjmiles opened #1938 "Need Unit Tests for storage-providerbase::off (and probably EventKind)"
In #1937 I implemented `store.off` with a routine Shane had looked at briefly.

I also inverted the EventKind enum declaration so that it works.

Both of these things need unit tests; I cut that corner because of temporary pressing concerns.

[2018-09-22 01:49] mmandlis opened #1942 "Serialization and `RecipeUtil.matchesRecipe` don't work well together"
In arcs-live:
- accept `Show products from your browsing context` suggestion
- products list showing, next suggestions are: `check manufacturer info...` and `check shipping... `
- reload the page
- additional suggestion `MuxedProductItem.` shows up - before the reload it was recognized as "already active" by `RecipeUtil.matchesRecipe(this._arc._activeRecipe, plan)` in https://github.com/PolymerLab

[2018-09-22 01:50] mmandlis commented on #1942
BEFORE SERIALIZATION
arc._activeRecipe.toString() is
[code]
recipe MuxedProductItem &muxProduct
  use '!372427057411742:app-shell-crov48udg84xr48u:27' as handle0 // [Product Thing {...}]
  copy '!372427057411742:app-shell-crov48udg84xr48u:particle-literal:ShowProduct' as handle1 // HostedParticleShape
  slot 'slotid-!372427057411742:app-shell-crov48udg84xr48u:22' as slot0
  ItemMultiplexer as part

[2018-09-22 01:53] mmandlis commented on #1942
AFTER DESERIALIZATION:
Active recipe is:
[code]
The suggestion (NOT recognized as already active):
[code]

[2018-09-22 01:54] mmandlis commented on #1942
NOTE: after deserialization, the active recipe has twice as much slots. The "second" set of slots has the same IDs as the originally existing slots, but they aren't connected to particles. Instead the "first" set of slots (with the new IDs) is consumed and provided.

[2018-09-22 13:09] shans commented on #1942
It's normalization which is causing the problem. Specifically, before normalization on line 270ish in arc.js (just before instantiation, inside serialization) there's 1 copy of the slots; after there's 2 (but it's hidden because the second copy doesn't have IDs so only the old copy shows up in a .toString()).

I suspect this is something to do with how slots normalize?

[2018-09-22 18:06] shaper commented on #1791
@cromwellian has started using some WebCrypto bits for the key management code. He's added https://github.com/PolymerLabs/arcs/blob/master/platform/crypto-node.js and https://github.com/PolymerLabs/arcs/blob/master/platform/crypto-web.js

[2018-09-22 18:55] mmandlis commented on #1942
actually, it is the deserialization. The `serialization` string passed to `arc.deserialize` is:
[code]

The extra slots are added during the manifest parsing. Actually this is exactly what I fixed here:
https://github.com/PolymerLabs/arcs/pull/1940/files#diff-7cf67f07396d399da8d0403d5df1dc2bR773
but I thought this is a problem I was introducing by adding IDs to local slots, but in fact this proble

[2018-09-23 06:45] shans commented on #1942
Yes, it's deserialization, but that's not the full picture. No, it's nothing to do with parsing. It's happening during the normalization step inside deserialization.

If I console.log recipe.toString() immediately before https://github.com/PolymerLabs/arcs/blob/master/runtime/arc.js#L271 then it still looks basically like what you have above.

If I console.log the same thing immediate after that l

[2018-09-23 06:50] shans commented on #1942
Hmm, though your fix disagrees with that. Is the parsing creating duplicate slots with the same ID, which are just renamed during normalization?

[2018-09-24 00:21] lindner opened #1946 "Implement a Storage Subsystem based on CouchDB/PouchDB"
Objective: Provide an alternative to Firebase for storing data.  A [PouchDB](https://pouchdb.com/) solution can be run by a user on their own server or cloud provider.

The provided solution will offer functionality that provides:

- A distribution of the static Arcs Runtime and Shell that can connect to
- ... an instance of the experimental [pouchdb-server](https://github.com/pouchdb/pouchdb-serv

[2018-09-24 01:53] piotrswigon commented on #1928
One solution that I could come up with involves the _maybe upcoming_ require/construct sections.

[code]

This would ensure that there are 2 separate pieces - one selecting and one displaying.

Reality however is that both &select and &display may do `inout`, and a particle that does selecting an entity from a collection of entities does displaying of a collection, so particle that matches to &sel

[2018-09-24 19:53] mmandlis commented on #1942
the fix was pushed and the extra slots are gone.
but the problems remain - after deserialization:
1) `check manufacturer information` suggestion still suggested after it was accepted (is not recognized as active)
2) `MuxedProductItem` suggestion appears

[2018-09-24 21:35] sjmiles commented on #1925
Did a quick rewrite in https://github.com/PolymerLabs/arcs/pull/1956

[2018-09-24 23:08] piotrswigon opened #1958 "Support dynamic descriptions fed from async data."
In speculative execution the particle should be able to perform async processing (usually fetch some data) and influence the description based on that. Use cases are:

- Next episode released <date> on <channel>.
- This artist plays on <date> in <venue>.

We could manage to get this done, it may or may not be possible today - to be figured out.

[2018-09-25 06:35] #1942 closed

[2018-09-25 06:40] piotrswigon opened #1965 "Issues with dynamic descriptions with explicit template/model."
I have a case where `setParticleDescription(string)` works, but `setParticleDescription({template, model})` does not. I will be landing a patch with a comment about this in artifacts/Music/source/FindShows.js.

Something to investigate when we have some more bandwidth.

[2018-09-25 17:01] mmandlis commented on #1965
from https://github.com/PolymerLabs/arcs/pull/1966#issuecomment-424244628:
Long time since this was tested, but the syntax is:
https://github.com/PolymerLabs/arcs/pull/563/files#diff-47799113e5d96f11ad1720ff985b68bcR166
the template should be an html with xen-like templating.
Another example is in the description tests: https://github.com/PolymerLabs/arcs/blob/master/runtime/test/description-test.

[2018-09-25 20:28] sjmiles opened #1969 ""can't construct entity with null data""
![image](https://user-images.githubusercontent.com/98045/46041015-ad65fd00-c0c6-11e8-8e3b-b4243142a6a2.png)

Repro steps:
* load arcs-live
* select user Doug
* select existing Edit Profile Arc
* either wait a few seconds, or hit launcher button
* see error as shown above

[2018-09-25 21:03] lindner commented on #1969
Seeing this too.

On Tue, Sep 25, 2018 at 1:28 PM Scott J. Miles <notifications@github.com>
wrote:

[2018-09-25 21:14] mmandlis commented on #1969
this is probably a duplicate of: https://github.com/PolymerLabs/arcs/issues/1890
I was getting it for a while now, it seems like a race condition, because @shans only saw it once and wasn't able to reproduce again.

[2018-09-25 21:15] sjmiles commented on #1969
Yes, sorry for the dupe!

It's happening in remote-planner also.

[2018-09-25 23:48] mykmartin commented on #1890
I'll take a look.

[2018-09-26 00:11] mykmartin commented on #1969
I can't repro this on arcs-live. Do you know what commit live was at when you saw this?

[2018-09-26 02:27] mmandlis commented on #1969
@mykmartin https://github.com/PolymerLabs/arcs/pull/1971 this commit was meant to fix this problem. now that i think about it, this commit would only fix the `user` entity, but the location...hmmm

[2018-09-26 03:04] mykmartin commented on #1890
Ok :)

[2018-09-26 03:19] mmandlis opened #1974 "assert 'cannot add without new keys'"
with Music recipe: accept `you heard artist...` suggestion, then refresh the page and the assert fires, because:
`JSON.stringify(item.value)` is
`{"id":"manifest:./../../../artifacts/Music/Music.recipes::5","rawData":{"artist":"Joe Satriani","dateTime":1537230116888,"song":"Summer Song"}}`
but
`JSON.stringify(value)` is
`{"id":"manifest:./../../../artifacts/Music/Music.recipes::5","rawData":{"arti

[2018-09-26 04:01] #1974 closed

[2018-09-26 17:29] seefeldb opened #1979 "TV demo should have upcoming showtime and friends who are also watching in suggestion"
See also #1966 for how to make that work in speculative execution.

[2018-09-26 17:31] seefeldb opened #1980 "TV demo lets you mark which shows you are watching and see who else is watching them as well"

[2018-09-26 17:47] seefeldb opened #1981 "collect piped tv shows"
Collect piped tv shows in a collection tagged `#piped_history`

[2018-09-26 17:49] seefeldb opened #1982 "TV demo's empty search screen should show recommendations"
Use the last entries from `#piped_history` (see #1981) to make three "recommendations" at the top. Label that section "Recommendations", label the existing section "Recents".

[2018-09-26 17:50] seefeldb commented on #1980
Also, annotate shows on lists (including recommendations and recents, see #1982) with whether they have friends watching

[2018-09-26 21:42] cromwellian opened #1984 "Cloud Ingress needs TLS certificate/HTTPS"
WebCrypto doesn't work when JS is served from non-HTTPS/non-localhost

[2018-09-26 21:42] cromwellian opened #1985 "Enable CORS for PouchDB server and client replication"

[2018-09-26 21:43] cromwellian opened #1986 "Provision DeviceKey for first-time user flow"

[2018-09-26 21:44] cromwellian opened #1987 "Allow a DeviceKey to bless another DeviceKey and attach to cloud disk"

[2018-09-26 21:44] cromwellian opened #1988 "Cloud endpoint for clean shutdown/disconnect of disk/nodevm"

[2018-09-26 21:45] cromwellian opened #1989 "QR code scanner/generator for bootstrapping onboarding"

[2018-09-26 21:46] cromwellian opened #1990 "Shell code to poll for availability of NodeVM/Disk (offline/online) and enable replication"

[2018-09-26 22:45] mmandlis opened #1991 "Wrong arc description"

[2018-09-27 00:02] mmandlis commented on #1874
keeping open to adjust animation and color.

[2018-09-27 00:14] mmandlis opened #1994 "Arc displayed in 2 tabs doesn't update when new suggestion is accepted"
Create an arc, for example "Show products list..." and open it in 2 tabs in parallel.
In one of the tabs, accept the next suggestions, for example "Show manufacturer info".
The second tab is NOT updated, until the page is refreshed.

Note: If a handle serialization changes, the second arc is being updated, so I guess we monitor the `handles` in fb, but not arc's `serialization`.

[2018-09-27 00:39] mmandlis opened #1995 "Music demo in 2 tabs renders twice in the 2nd tab"
To reproduce:
- Accept "You've heard Joe Satriani on 9/17/2018." suggestion
- Open the created arc in the another tab
- In one of the tabs, accept any additional suggestions
- In the second tab, the new suggestion renders and also duplicates the `ShowArtist::root` slot

Note: refreshing the page fixes the problem (but the order of the particles rendered on the page is reversed).

<img width="1061"

[2018-09-27 01:02] cromwellian commented on #1984
Deployed letsencrypt to https://skarabrae.org/

Used cert-manager helm kubernetes app (https://github.com/ahmetb/gke-letsencrypt)

[2018-09-27 01:02] #1984 closed

[2018-09-27 18:03] mmandlis opened #1998 "Cannot read property 'id' of null"
[code]

The entity in a Person, and the backing store is firebase-storage, and
[code]
in in-memory-storage.ts ln 361 return an array with one element `null`.

@sjmiles I think you were seeing this error too, is it still happening?

[2018-09-27 22:39] mykmartin commented on #1998
Do you have any repro steps? I'm looking at the code in question now..

[2018-09-27 22:47] mmandlis commented on #1998
I reproduce it with remote planning.  The exact steps are:
- in arcs-live, create an arc with 'find restaurants near ...'
- run ./serve.sh (under `shell/apps/remote-planning/`) and you get the exception (you can debug it with ./debug.sh)

NOTE: if you want to use user Myk, you need to set a user id in shell/apps/remote-planning/index.js (Myk is `-LMtek9Od_C2Fv1Z_l0-`)

[2018-09-27 22:55] mykmartin commented on #1998
I tried serve.sh and don't see any errors. It produces two "plans" blocks with lists of (I presume) suggestion texts, and then just sits there.

[2018-09-27 22:55] mykmartin commented on #1998
It's running with user Cletus.

[2018-09-27 23:13] mmandlis commented on #1998
Did you create the "restaurants" arc on arcs-live?

I don't have a good explanation, but i think it might have been fixed with https://github.com/PolymerLabs/arcs/pull/2001 - because it only happens for me with arcs that are created on live, but not on the newer version. Let's wait until it gets pushed to verify.

Thanks for looking!

[2018-09-27 23:16] mykmartin commented on #1998
Dammit, brainfart, didn't do the arcs-live step. :roll_eyes:

[2018-09-27 23:27] mmandlis commented on #1998
that's the best strategy, possibly, it's already fixed :)

[2018-09-27 23:33] mykmartin commented on #1998
Guess not, I just got the error

[2018-09-27 23:46] mykmartin commented on #1998
... or not? Looks like my local changes for the music demo were interfering. Trying to do too many things at once...

[2018-09-27 23:49] mmandlis commented on #1998
let's leave this for now, and I'll let you know, if this happen again with ToT. sorry for the extra distraction.

[2018-09-28 19:27] lindner opened #2013 "Duplicate root slot errors"
Reproduction steps:

1. Open Arcs as http://localhost:8080/shell/apps/web/index.html in a tab.  Select Barney as user.
2. Open Arcs in another browser.  Select Paul as the user.
3. As Barney: type 'restaurants', select 'Find Restaurants Near Barney's Location'.
4. Take the arc that was generated and load it in the other browser tab.  It will look exactly the same.
5. As Paul: Select a restaurant
6

[2018-09-28 21:17] mmandlis commented on #2013
Does it look same as https://github.com/PolymerLabs/arcs/issues/1913?
and @seefeldb Is it something that we need for the demo next week?

[2018-09-28 22:04] seefeldb commented on #2013
We would need it for the transcript based demo, but it's shaky. Your suggestion on #1913 would be enough there I think.

[2018-09-29 01:40] mmandlis commented on #1998
lots and lots of debugging. more or less consistently happening to me with restaurants demo.
what I found is that during planning, the arc's store holding the Person is changing.

This is the arc's active recipe:
[code]

several `cloneForSpeculative` executions run in parallel, but during the first couple
store `!315148350750948:-LNXeIzlmfPSZ1_sDXgJ:27`
has value id `!1055911603951819:-LNXeIzlmfPS

[2018-09-29 02:51] #1913 closed

[2018-09-30 22:46] sjmiles commented on #1979
https://github.com/PolymerLabs/arcs/pull/2019

[2018-09-30 22:48] sjmiles commented on #1982
Approximation is here https://github.com/PolymerLabs/arcs/pull/2019

[2018-10-01 18:37] #1998 closed

[2018-10-01 18:57] mmandlis opened #2022 "Multiplexer not updating in TV demo"
- run `ShellApi.receiveEntity('{"type": "tv_show", "name": "buffy"}')` in command line
- accept the `Buffy the Vampire Slayer is on UPN at 20:00 on Tuesday.` suggestion
- close the detail popup, `Buffy` is displayed in `recommendations`
- run `ShellApi.receiveEntity('{"type": "tv_show", "name": "westworld"}')` in command line
- close the details popup, only `Buffy` is displayed  in `recommendation

[2018-10-02 02:59] sjmiles commented on #1981
Implemented as a PROFILE handle:
[code]

[2018-10-02 02:59] #1981 closed

[2018-10-02 03:02] sjmiles commented on #1980
Done
* Shows can be favorited by clicking the heart icon on either search results or recommended lists.
* Suggestions and Show Detail should now show friends that have favorited the selected show (and shared the relevant Arc).
Not Done
* Shows in lists don't yet show who else is watching
* There is no way to un-favorite a show

[2018-10-03 20:13] mmandlis commented on #1965
fixed with https://github.com/PolymerLabs/arcs/pull/2041

[2018-10-03 20:13] #1965 closed

[2018-10-04 00:09] sjmiles opened #2064 "Storage `on('change')`: two `add` events, only one expected"
Given a virginal `store` (freshly created, has no records, using a firebase `storageKey`), then the code below:

[code]

produces this console output:
[code]

I'm confused as to why there are two `add` records and two version bumps.

[2018-10-04 00:44] sjmiles commented on #2064
One of the notifications is coming from `store (firebase-storage.js;768)` and the other from `ensureBackingStore.then` (firebase-storage.js;665)`

[2018-10-04 03:36] sjmiles commented on #2064
Follow up problems: after the above code executes, there is one item in the store. If I remove it, I get **no change event**.

[code]
console output: **none**

There is no event, but the item is removed from the store. At this point if I attempt to add a new record:

[code]

I get this:

[code]

Note that the `keys` in question are not the keys I passed to `store` but some backingStore (?)  keys (

[2018-10-04 03:45] sjmiles opened #2065 "Need Storage support for Arc serializations"
Modern runtime Arcs maintain data-stores via Storage abstractions, but we need support for persisting serializations. Otherwise, Shell is forced to persist serializations using Firebase hardcodes.

At the minimum, this could be solved with a synthetic-store that could read/write/observe an Arc's serialization. Sooner or later, I suspect we will want an Arc to manage it's serialization transparentl

[2018-10-04 16:02] mykmartin commented on #2065
Adding Raul; sounds like a runtime-API-shaped request :)

[2018-10-05 21:56] lindner commented on #1765
Current Status: 76 non-test files

[code]

[2018-10-09 00:09] sjmiles opened #2089 "SlotDomConsumer uses global templateCache"
(https://github.com/PolymerLabs/arcs/blob/master/src/runtime/slot-dom-consumer.ts#L161)

Modern web-shell runs multiple Arcs with multiple SlotComposers.

When disposing an Arc, [`SlotDomConsumer.dispose()`](https://github.com/PolymerLabs/arcs/blob/master/runtime/ts/slot-dom-consumer.ts#L135) clears the templateCache which causes downstream errors (presumably because existing objects expect a warm

[2018-10-09 00:14] sjmiles opened #2090 "Arcs Extension uses Tracing, can fill the heap"
If an Arcs web tab is left open, and the Arcs extension is activated, the tracing system becomes enabled and the tracing history grows unbounded (until the heap is clobbered).

[2018-10-09 17:52] lindner opened #2093 "Target Node 10 LTS"
Seems like it might be time to target Node 10 as it's about to hit LTS at the end of October.

This would give us a quote modern JS base to work with that will be well supported.

[2018-10-11 20:54] sjmiles opened #2096 "Error: cannot add without new keys (0_6_0)"
[code]

Repro:

1. open shell (`shell_0_6_0/web-shell/`, doesn't work in Live right now [will fix])
2. toggle favorite (star) for an Arc in launcher
3. repeat until error appears (usually right away, but sometimes takes two tries for me)

[2018-10-11 21:40] sjmiles opened #2097 "Synthetic store sending malformed change events"
Given `store.on('change', info => doStuff(info));` where `store` is a `SyntheticStore`:

Usually the add records have various fields, one of which is the data `value`.

But sometimes the add records are copies of the data itself, i.e. `bad_info === good_info.value`

Looks like the bad records come out of [`remoteStateChanged`](https://github.com/PolymerLabs/arcs/blob/master/runtime/ts/storage/synt

[2018-10-16 19:14] sjmiles opened #2104 "Feature request: optional handle connections"
Sometimes Particles can use information if it's available, but do not require it.

For example, `BOXED` data is only sometimes available depending on the user's friend structure.

Today the shell forces certain well known stores into existence so common recipes will resolve regardless of whether those stores have actual content. However, the class of shareable types is unbounded, so this solution

[2018-10-16 19:32] seefeldb commented on #2104
Related:
* Should we support default values?
* What happens if that optional handle appears during the runtime (BOXED_: user makes a friend, but also otherwise when e.g. a new suggestion is accepted)

[2018-10-16 20:46] sjmiles opened #2105 "HostedParticleShapes only resolve against context"
`hostedParticle` assignments only work if the Particle is defined in the `arc.context` (and not simply inline). Until recently we loaded (almost) all recipes into context by default, masking this issue.

For example, given:

[code]

The system throws like so:

[code]

If `PlaylistItem` particle is defined in `arc.context` then the `HostedParticleShape` is used from there, and the recipe resolves n

[2018-10-16 21:14] shans commented on #2104
handles can currently be marked as optional during parsing:
[code]

We probably haven't rolled this through the stack completely though. I can start to look at improving this support after tech debt burndown?

[2018-10-16 23:03] cromwellian opened #2108 "Add web integration test for Key Management"

[2018-10-17 05:04] mmandlis commented on #2104
Last time I checked, such recipes would resolve, but fire an assert, if instantiated. But strategies have changed a lot since, so probably won't even resolve.

[2018-10-17 19:02] shaper commented on #2065
@shans to comment, this is blocking @sjmiles new shell work which has follow-on impact to @mmandlis planificator work and how we approach ongoing demo activities.

[2018-10-17 19:02] shaper commented on #2096
@shans to comment, this is blocking @sjmiles new shell work which has follow-on impact to @mmandlis planificator work and how we approach ongoing demo activities.

[2018-10-18 21:14] shans opened #2120 "duplicated imports cause duplication of stores"
e.g. if a serialized arc imports a.manifest, which imports b.manifest; and the serialized arc also imports b.manifest directly, then any stores in b.manifest end up being duplicated in the deserialized version of that arc.

[2018-10-18 21:17] shans opened #2121 "serialization duplicates imports"
Possibly only relevant to the context manifest, but sometimes the serialization code in arc.ts will directly include a manifest that the context already included.

[2018-10-23 22:28] seefeldb opened #2133 "Restaurant demo: Tapping restaurants no longer works"
On live, tapping restaurants no longer works. Instead of selecting the restaurant, not happens.
Guess: Might be related to introducing shadow dom?

[2018-10-24 18:46] #2096 closed

[2018-10-24 20:08] sjmiles commented on #2133
`x-list` (deprecated) finally stopped working for events, the prescription is to replace it with sub-template iteration, ala #2139.

[2018-10-24 20:08] #2133 closed

[2018-10-24 20:12] sjmiles opened #2140 "Multiplexer rendering multiple items into individual slots"
![image](https://user-images.githubusercontent.com/98045/47458424-59663b00-d78e-11e8-8977-ead61ccaeaa4.png)

I suspect it's because a second rendering task starts before the first one is completed.

[2018-10-24 20:14] sjmiles commented on #2140
Hrm, at least on the search page, doing more searching continues to add items to each sub-slot, so that suggests the old items are not being cleared (and not necessarily overlapping rendering tasks).

[2018-10-24 21:29] mmandlis opened #2141 "StorageStub in arc context's allStores"
The `playlists` store https://github.com/PolymerLabs/arcs/blob/556734262d343605be2400e639f1c9986c025cc6/artifacts/Music/Music.recipes#L17 appears as StorageStub in arc's context and never inflated.
(This is a BigCollection fwiw)

[2018-10-24 21:57] mykmartin commented on #2065
@sjmiles What do we need to do to unblock this? In the long run I imagine it'll just be a method in the runtime API, but we obviously need something before that's ready.

One option is to set up a 'serializations' space in the top-level firebase structure (a la backingStores), then provide an interface to access that based on arc ids. The shell would still need to have the top-level storage key, b

[2018-10-24 22:01] shans commented on #2065
serialized Arcs should eventually be a stored type (i.e. rather than a method in the runtime API, it's just a store at a particular storage location (storageKey)). This will at some point require type system support but in the short term we can do the same thing as we're doing for handles.

Eventually we'll try to map deltas (new recipes to instantiate) into some kind of CRDT thingo, but that's a

[2018-10-24 22:15] mykmartin commented on #2065
Isn't that part of the problem Scott's raised?

[2018-10-24 22:17] shans commented on #2065
No, "Firebase hardcodes" is what happens when you can't use the storage system for some reason. In this case it's because the current storage layout doesn't match what's expected of a variable.

[2018-10-24 22:32] mykmartin commented on #2065
Ok. So what do we need to do to unblock the current state in the short term?

[2018-10-24 22:36] shans commented on #2065
Scott could just start reading/storing manifests through a Store; the only problem here is that it's not backwards compatible, so existing arcs would stop working.

[2018-10-24 22:37] shans commented on #2065
Another option would be to build a synthetic store that converted between representations; though this could be tricky wrt writing new values.

[2018-10-25 20:26] sjmiles opened #2149 "Common errors triggering assert `debugger;`"
Background: for web-dev, the `debugger` command in `assert-web.js` is an annoyance when it is triggered frequently. IIRC, we agreed to leave it in, but only use it for truly exceptional situations, and switch more common problems to use proper exceptions.

There are some errors I contend with repeatedly (enough to make me want to fork `assert-web.js` and remove the `debugger`, which is a hassle to

[2018-10-25 20:45] sjmiles commented on #2149
More info: this errors crop up a lot while developing recipes. Because of the multiplicity of workers, it's hard to mark it to 'ignore'. See what happens below, note the number of `assert-web` tabs in debugger.

![screen shot 2018-10-25 at 1 41 22 pm](https://user-images.githubusercontent.com/98045/47529226-11ade500-d85c-11e8-8843-49f9845a7bc2.png)

[2018-10-25 21:00] shans commented on #2149
Thanks Scott,

This is actually a good example of something that we should be fixing so I'm glad you've raised the issue.

The assert in question is in arc.instantiate, and it absolutely should be a truly exceptional situation, because it means something thought that it would be able to instantiate a recipe, but the recipe isn't capable of being instantiated. At this level (i.e. this place in the

[2018-10-25 21:03] sjmiles commented on #2149
For the record, I agree this situation is _exceptional_ and I don't have a problem with it throwing an exception, it's specifically that `debugger` statement which is problematic. As we discussed before, my sense was that we agreed to leave it in only for extra-exceptional situations.

Having said that, I'm hitting this because when I develop recipes today I skip the strategizer and go direct. Thi

[2018-10-25 21:08] sjmiles commented on #2149
I get this highly-useful stuff on console when this error occurs, this is great, but it's only after I deal with the debugger break. Don't mean to beat a dead horse, just trying to illuminate my perspective, sometimes I leave that bit out.

![screen shot 2018-10-25 at 2 06 39 pm](https://user-images.githubusercontent.com/98045/47530369-3d7e9a00-d85f-11e8-9e48-a47f2f37dbec.png)

[2018-10-25 21:09] shans commented on #2149
Right, I'm claiming that trying to instantiate unresolved recipes is extra-exceptional.

Which, it turns out is probably true because you're trying something completely new.

'Going direct' is difficult because you need to have a fully resolved recipe (all the handles pointing at real ids, all the slots hooked up, all the verbs resolved, etc. etc.) before the arc can understand it. We have a thing

[2018-10-25 21:19] sjmiles commented on #2149
Except it's happening to me dozens of times a day. That debugger statement has always been a stumbling block for me, I never really understood it's value, but IIRC we compromised on saying we would do something else for errors that I encounter a lot.

Yes.

There are scenarios where it's useful to implement recipes directly. This is true for the Launcher arcs and the Pipe arcs and I assume other t

[2018-10-25 21:36] sjmiles commented on #2149
Sorry if I'm putting too-fine a point on it. At some level it's just a practical problem for me, and I _can_ get around it by forking `assert-web.js`.

[2018-10-25 21:41] shans commented on #2149
My point is that if you're suddenly getting dozens of these then something systemic is going badly wrong.

In particular, if you're using RecipeResolver and the output recipes aren't resolved, that sounds like an egregious bug.

[2018-10-25 21:43] shans commented on #2149
Oh .. actually I can see what's going wrong. RecipeResolver doesn't return a recipe only if it's resolved; it returns one if it could *make some progress* towards resolution. We'll need to pull Maria in for a discussion of what the correct behaviour should be, but in the meantime you could follow up RecipeResolver invocation with a check for isResolved(), and console.log the recipe / abort at that

[2018-10-25 21:43] sjmiles commented on #2149
It's not a bug, it's that it's pretty hard to write recipes. It takes me numerous iterations to do any recipe work.

[2018-10-25 21:47] sjmiles commented on #2149
Ok, yes, I can work around it, but once more for the record, that `debugger` statement is never helpful for me, so I will inevitably end up removing it locally.

[2018-10-25 21:48] shans commented on #2149
I get that it's hard to write recipes.

But. Giving arc.instantiate() an unresolved recipe is a bad bug! At that point, we can't do anything with it except throw an error. Given the potential consequences (unsynced arcs, arcs that load for one user but not another, broken arcs, etc), I can't accept that this is anything but the most serious of errors, and hence I think it's entirely appropriate th

[2018-10-25 21:55] sjmiles commented on #2149
Fwiw, it's also possible that this comes up when something change that causes a serialization to stop being correct. This happens frequently as things evolve, but I will need to capture it live before I know if it's the same assert or not.

At the risk of repeating myself, this `debugger` statement is not so rare that it ever has the effect of #2. I hit these asserts all the time because of data-s

[2018-10-25 21:57] shans commented on #2149
Let's discuss this in the team meeting? I don't want to get in your way here, but I'm also concerned that you're hitting these assertions at all (outside the context of this current one).

Like, they're all supposed to be things that mean the system can't guarantee consistency any more. If they're happening we should be finding out why and eliminating the causes (or the assertion, if we got it wro

[2018-10-25 22:02] sjmiles commented on #2149
Recipes and serializations have dependencies that can shift as things develop. Changes in dependencies cause these low-level failures on a daily basis.

As I said, the other cause is me developing recipes and getting things wrong.

I can trap these situations at a higher level, but I'm not sure that won't just mask them. Ironically, I used to test `isResolved()`, but I removed it because at the ti

[2018-10-26 01:11] #2149 closed

[2018-10-29 21:10] sjmiles commented on #2065
To rewind a little ...

Stores automatically persist themselves, I guess I assumed Arcs would do the same thing. The Arc itself best knows when it's serialization has changed, and it knows how to marshal the needed Storage objects.

Seems that's not what you guys are considering, can you explain what the advantage is to leaving this work to the outer process (aka Shell)?

[2018-10-29 21:19] sjmiles commented on #2065
I'll give this a try, but I still am curious about my question above.

This is not a problem, nobody has any _important arcs_.

[2018-10-29 21:58] sjmiles commented on #2065
I can create a `serialization` store in an Arc, but ironically, it doesn't appear in the serialization because it's not employed by the active recipe.

Since it's not ultimately in the serialization, (1) it cannot be recreated (there is a check that disallows creating a store if there is already a matching firebase-node, which enforces that dangling stores remain dangling) and (2) the data (serial

[2018-11-01 21:19] #2093 closed

[2018-11-05 03:01] shaper opened #2179 "ShellApi can't replan."
@sjmiles can you take a look at this? Filing after repro'ing issue noted by @cromwellian in chat:

`ShellApi.receiveEntity('{"type":"tv_show", "name":"Buffy"}');`

produces

[code]

[2018-11-05 03:03] shaper commented on #2179
@cromwellian had more info in his error as `this.shadowRoot.querySelector(...)._state.planificator._onDataChange is not a function`. On arcs-live in debugger we have no `planificator` though we do have `_state`.

[2018-11-05 04:22] seefeldb opened #2180 "with pouch, planner doesn't seem to see in-arc handles"
(this is based on the recent version, not yet using cloud planning!)

repro:
 - new arc with "restaurants" (pick the one without reservations or calendar, just restaurants search)
 - expected: see a suggestion pop up for making reservations
 - actual: suggestion doesn't appear, not even in '*'
 - actual: but interestingly, reservations suggestions together with another restaurant search does appea

[2018-11-05 08:20] lindner commented on #2180
I'm looking into this.

Which user?

For Paul: I see unresolved handles, but I also don't have a favorite food set.
For Cletus: I see errors  with crdt duplicate keys and no suggestions.

[2018-11-05 08:48] seefeldb commented on #2180
For user Berni, but you don't need favorite food set for reservations to show up. Reservations should work for all users.

Favorite food would trigger another suggestion (".. has your favorite food ...").

[2018-11-05 10:10] lindner commented on #2180
I am able to observe firebase getting the 'Table for 2' recommendation when selecting a restaurant.

Using pouchDb does not show this recommendation.
Using planificator=new

So Firebase may have the same issue under some circumstances.

[2018-11-05 19:30] greenkeeper[bot] opened #2183 "An in-range update of webpack is breaking the build 🚨"
## The devDependency [webpack](https://github.com/webpack/webpack) was updated from `4.25.0` to `4.25.1`.

🚨 [View failing branch](https://github.com/PolymerLabs/arcs/compare/master...PolymerLabs:greenkeeper%2Fwebpack-4.25.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

webpack is a devDependency of this project. It **

[2018-11-05 21:32] mmandlis opened #2185 "Resolve the return type related TODOs in description.ts"
added in https://github.com/PolymerLabs/arcs/pull/2176

[2018-11-06 00:28] #2179 closed

[2018-11-06 08:33] cromwellian opened #2193 "Move server config variables hardcoded in JS into config"
Stuff like pouch db configuration should be moved into either

* JSON on disk
* YAML on disk
* Kubernetes ConfigMap (https://kubernetes.io/docs/tasks/configure-pod-container/configure-pod-configmap/)

[2018-11-06 13:50] lindner commented on #2180
I have not yet been able to solve this.  I have some interim fixes that do not resolve this, but will continue trying for the next few hours.

[2018-11-06 22:29] lindner opened #2199 "Install Renovate to help manage npm dependencies"
More info here:

https://renovatebot.com/docs/configure-renovate/

Being successfully used by the AMP folks and others.  It's also a replacement for GreenKeeper

[2018-11-06 23:17] piotrswigon opened #2200 "Allow transformation to expose a slot provided inside a transformation."
Use case: Transformation particle wants to create an inner arc, instantiate a number of particles and expose the slots they provide to the outside world.

Something like:

[code]

which then creates an inner arc with:
[code]

where `A.content` consumes a hosted slot created by a `TransformationParticle`, and `A.extra` is mapped outside as `TransformationParticle.detail`.

[2018-11-07 01:53] lindner commented on #2183
false alarm due to build system changes.

[2018-11-07 01:53] #2183 closed

[2018-11-07 01:54] lindner commented on #2180
It's now working in my current environment that contains the planner changes and some other cleanups.  I'm not sure it's worth bisecting to find out why..

[2018-11-07 01:55] lindner commented on #2180
<img width="445" alt="screen shot 2018-11-06 at 5 52 14 pm" src="https://user-images.githubusercontent.com/96715/48105623-14f68880-e1ed-11e8-93e9-8aa0e948fd56.png">

[2018-11-07 18:11] lindner commented on #1765
Current status: 46 non-test files

[code]

[2018-11-07 18:14] lindner opened #2207 "Consolidate or document all special Shell Query Params"
We've started adding a number of query params that change Shell behavior.  Let's consider consolidating them in an options object or at least write some documentation on them.

[2018-11-07 18:33] sjmiles commented on #465
Why we have been stuck on this is as follows.

The nature of the gambit above was to allow the template to specify both the container node and the contained subtree (hence the enforcement of a single top node).

However,

1. Particles are heterogeneous and need to use ShadowDOM to enforce DOM tree-scoping (CSS-scoping in particular).
2. ShadowDOM is a subtree hosted by a container node.
3. Templat

[2018-11-07 18:39] mmandlis commented on #465
+1 for (3)

[2018-11-07 18:53] sjmiles commented on #2207
So, fwiw, these have historically been documented in the shell/ [README](https://github.com/PolymerLabs/arcs/blob/master/shell/README.md).

That file needs updating. Should maybe be part of Sherrif's duties? Without a QA person, this kind of information is doomed to degrade.

Also, just FYI, option processing is intended to be collated into

[arc-config.js](https://github.com/PolymerLabs/arcs/blob

[2018-11-08 00:45] piotrswigon commented on #2140
I will take a stab at this this afternoon.

[2018-11-08 04:59] piotrswigon commented on #2140
We're having some issues with managing DOM containers in SlotComposer and friends.

Out of curiosity @sjmiles, did we change something in particle rendering that instead of replacing entire DOM trees, does minimum updates to the existing DOM tree (from the previous render)? This would explain what I see happening. Either way working on the fix.

[2018-11-08 05:59] piotrswigon commented on #2140
I traced the issue to #2099.

`SlotDomConsumer.createNewContainer(...)` now return a `shadowRoot` of the `div` container.

However `SlotDomConsumer.deleteContainer(...)` is still:

[code]

shadowRoot does not have a `parentNode`, so old containers are never cleaned up, which causes the behavior you see.

I don't know all that much about shadow DOM, so now that we know what's the problem maybe @sjm

[2018-11-08 22:44] shans commented on #2065
Quick summary of discussion with Scott: arc serialization/deserialization to stores should be under control of the runtime, perhaps with a basic override mechanism that's accessible to the shell.

[2018-11-09 01:49] Cypher1 opened #2220 "'Pipes receives' test failing on Travis, master"
Travis is failing with
[code]
The relevant test seems to have been added in #2198.

I'm wondering if we can turn off the tests for a bit or have a fix?
The tests seem to pass on AppVeyor and locally, so it seems likely that this is a platform / setup dependency.

[2018-11-13 00:33] #2220 closed

[2018-11-13 19:42] sjmiles commented on #2220
My best understanding is that the runtime code that manages `backingStores` is pathological today: it creates numerous duplicate entries, and the entire corpus needs to be read into RAM from remote storage (more than once?).

[2018-11-13 21:13] sjmiles opened #2239 "Improving use of Travis"
Without Travis running a solid battery of integration tests, we tend to pile up low-level errors that affect the Shell but aren't visible in runtime tests.

This issue to is help us tracking problems we have encountered using Travis:

1. The `npm run test-with-start` doesn't work on my Windows machine (neither for @shans IIRC).
2. I (@sjmiles) tend to have local test success but failures in remote

[2018-11-13 21:21] sjmiles commented on #2239
Most recent problems with Travis occurred when I pushed tests for the `pipes` sub-system. These changes borked the build and were reverted.

#2238 is a PR I built with almost the same changes, plus some robustness tweaks (and quadrupled timeouts). The PR itself passes the Travis build test preview, but it did last time too. I'm not sure what happens between here and being pulled into main.

Re: cr

[2018-11-13 21:23] sjmiles commented on #2239
More notes re: #2238

- when I first pushed these tests, only the pipes::receives test was failing on remote travis, this has never been explained
- @lindner reported errors about `receiveEntity` that I believe was due to the page not spinning up before the test poked it (racing), I've added some waitFor to address this
- errors around `#webtest-title` (Restaurants) were due to expired certs on th

[2018-11-14 07:11] piotrswigon commented on #2140
@sjmiles Let me know whether you would like to take a stab at fixing this, or whether I should run with some proposal.

[2018-11-15 00:34] Cypher1 opened #2246 "Possible path escaping failure in error messages in Appveyor"
I recently discovered a failing test on AppVeyor. The problem is not particularly that the test is failing but that the error is being mangled somehow.

Error output:
[code]

I think it may be that somehow the path "runtime/testakms-test.js" is not being escaped properly such that the "\r" is becoming a newline and the "\t" is becoming a tab. "\a" is falling back to "a".

Link to error message for

[2018-11-15 00:38] Cypher1 commented on #2246
Found another instance of it in
PR:
https://github.com/PolymerLabs/arcs/pull/2241
Error message:
https://ci.appveyor.com/project/arcs/arcs-3i77k/builds/20285268#L1984

[2018-11-15 01:59] mmandlis opened #2248 "Contextual suggestions showing some non-contextual ones"
To reproduce in live:
- Select `Find restaurants...` suggestion
- In addition to the expected `Make reservation..` and `You are free on... seeing also `Ticketmaster...` suggestion
- After typing * and deleting in in search input, also seeing `Edit user profile...` and `Find TV shows`

This happens because decentralized planning pre-populates `slot.id` for locally provided slots for consistency bet

[2018-11-15 02:15] mmandlis opened #2249 "Instantiated plan is not rendered (after user switch)"
To reproduce:
- go to arcs-live
- switch to a different user
- type `Products`, accept `Show products...` suggestion

Result: screen is empty although arc.activeRecipe has the instantiated recipe. It is not serialized, so refreshing (or going back to launcher) leaves an empty arc.

This is then resolved after refreshing the page.

[2018-11-15 02:16] mmandlis commented on #2249
Looks like race condition with planning and shell. I wonder if this is only my experience.
(Also possibly it'll go away in 0_6_0, so worth waiting until it becomes default).

[2018-11-15 18:11] #2248 closed

[2018-11-18 19:47] Cypher1 commented on #2246
Seems this was temporary.

[2018-11-18 19:47] #2246 closed

[2018-11-20 21:22] sjmiles commented on #975
We still need better QA procedures, but this ticket is now stale. Closing.

[2018-11-20 21:22] #975 closed

[2018-11-20 21:28] sjmiles opened #2262 "Shell Issue Tracker"
Tracking ticket for shell issues:

### p1

~~#2330 exceptions in firebase-storage.js (0_6_0)~~
~~#2065 Need Storage support for Arc serializations~~
~~#2097 Synthetic store sending malformed change events~~
~~#2105 HostedParticleShapes only resolve against context~~

### p1, not blocking transition to 0_6_0

#2089 SlotDomConsumer uses global templateCache
#2064 Storage `on('change')`: two `add` ev

[2018-11-20 21:49] sjmiles commented on #1701
Closing in favor of #2262

[2018-11-20 21:49] #1701 closed

[2018-11-20 21:50] sjmiles commented on #2239
Making another attempt at Selenium tests with #2262.

Timeouts are increased dramatically, added some robustness.

[2018-11-21 00:32] Cypher1 commented on #2104
https://github.com/PolymerLabs/arcs/pull/2255

[2018-11-21 00:40] Cypher1 commented on #513
Does this still happen? I can add 'particle' to the reserved word list or otherwise improve the error messages.

[2018-11-21 00:47] mmandlis commented on #513
Tried it now and actually this:
[code]
parses as a valid manifest.
But I think that to avoid confusion, it is best to add `particle` to the list of restricted words as well. WDYT?

[2018-11-21 02:11] sjmiles commented on #2140
@piotrswigon thanks for the direction ... I'll take a stab at it.

[2018-11-21 02:57] Cypher1 commented on #513
I think we should probably have 'schema', 'recipe', 'particle' and 'shape' all in the reserved words list.
I have started a change to do this but will have to first rename anything in our code base that violates it (and also find the parse errors where we will no longer be mis-parsing things because a reserved word was being interpreted as an identifier).

Should have a fix by next week?
@shans I'

[2018-11-21 04:55] #2097 closed

[2018-11-21 19:42] sjmiles opened #2273 "'Failed to parse suggestion: Parse error' in suggestion.js"
From invoking `shell_0_6_0/web-shell/` (doesn't reproduce on`arcs-live` right now, sorry)

![image](https://user-images.githubusercontent.com/98045/48864524-a800f800-ed81-11e8-894e-fef891f0a085.png)

[2018-11-21 19:47] sjmiles opened #2274 "'Failed to parse suggestion: can't resolve plan' in suggestion.js"
From invoking `shell_0_6_0/web-shell/` (doesn't reproduce on`arcs-live` right now, sorry)

![image](https://user-images.githubusercontent.com/98045/48865013-1b573980-ed83-11e8-986d-e8b41ac16385.png)

[2018-11-21 20:08] sjmiles opened #2275 "Planificator error after choosing "TV Shows" suggestion (0_6_0)"
1. shell_0_6_0/web-shell
2. search for 'TV'
3. choose 'TV Shows' suggestion

doesn't reproduce on`arcs-live` right now, sorry (because `arcs-live` is more broken)

![image](https://user-images.githubusercontent.com/98045/48865971-062fda00-ed86-11e8-88c4-4855445ec26c.png)

[2018-11-21 21:49] shaper commented on #2121
@lindner says he looked at this previously a bit. @shans are you planning to look at this soon? Perhaps Paul can help, or if you have thoughts on approach, comment and we can discuss further.

[2018-11-21 21:56] shaper commented on #2121
This may be P2, I'm marking P1 as @sjmiles has it on his tracking issue https://github.com/PolymerLabs/arcs/issues/2262, but if it's not actually blocking landing shell 0_6_0 then it's probably P2.

[2018-11-21 21:57] shaper commented on #2104
This may be P2, I'm marking P1 as @sjmiles has it on his tracking issue https://github.com/PolymerLabs/arcs/issues/2262, but if it's not actually blocking landing shell 0_6_0 then it's probably P2.

[2018-11-21 22:00] shaper commented on #2262
AIUI the issues here must be resolved for us to switch from the current shell to shell_0_6_0. Moving to the new shell is required for a wholly Pouch-based Pouch/Cloud-Planning scenario per @lindner @mmandlis.

[2018-11-21 23:11] raulverag commented on #2104
I think this is a language/architecture feature and only incidentally an API feature, so I'm removing myself as an assignee. Per the issues policy, this should really have only one assignee, who will be responsible for making the feature decision. Then the bug can be reassigned if someone else will implement.

[2018-11-21 23:16] raulverag commented on #1878
Circular dependencies aren't a problem within modules, but certainly are across module boundaries. As I look at where to draw module boundaries in detail, I'll consult (or regenerate) this list. First I'll get up to speed on madge.

[2018-11-22 01:00] #2275 closed

[2018-11-22 02:41] Cypher1 commented on #2262
@sjmiles can you explain on #2104 what you need so that you're unblocked?

[2018-11-22 02:52] piotrswigon commented on #2274
@mmandlis did you do any exploration of why this happens? If no, that's fine, will take a look soon.

[2018-11-22 02:56] mmandlis commented on #2274
I believe this is the second of the two problems I emailed you about yesterday - where the handle's type is determined by the hosted particle (ReservationAnnotation in this case), but the hosted particle spec is in the store and not available at manifest parsing time.
I attempted a fix in https://github.com/PolymerLabs/arcs/pull/2212, but then shans@ and I discussed and agreed that instead we shou

[2018-11-22 03:13] Cypher1 commented on #513
For reference: I'm renaming things so that we can do this
https://github.com/PolymerLabs/arcs/pull/2286

[2018-11-22 05:47] Cypher1 commented on #513
This also requires reordering parse attempts
https://github.com/PolymerLabs/arcs/pull/2292

[2018-11-22 07:18] Cypher1 commented on #1397
I think the syntax for this has been changed since this issue was opened.

I have some SLANDLES work to do but I don't really understand it yet. Would this be a good bug for me to look at @shans?

[2018-11-22 20:44] mmandlis commented on #2262
@shaper afaik Cloud planning can work fine with older shell (@lindner are their any pouch related limitations?). It is just that there are some optimizations that I'm holding off until shell 0_6_0.

[2018-11-22 21:54] mmandlis commented on #2273
search in recipe fails to deserialize, for example, the following recipe:
[code]
fails with: "Error: Parse error in '' line 4.
Expected " ", "//", "@", "\n", "\r", "alias", "import", "meta", "particle", "recipe", "resource", "schema", "shape", "store", or [ ] but "c" found.
    create #ctrl as handle0 // [VideoControls Thing {...}]"

To reproduce in arcs-live: type `show video foo` in the search b

[2018-11-22 22:07] #1958 closed

[2018-11-22 22:09] piotrswigon commented on #2105
I will take a stab at this. Removing others from Assignees.

[2018-11-22 22:10] piotrswigon commented on #2274
@sjmiles I assume this is a P1, please correct me if I'm wrong.

[2018-11-22 22:14] mmandlis commented on #1715
old planificator deleted https://github.com/PolymerLabs/arcs/pull/2294

[2018-11-22 22:14] #1715 closed

[2018-11-22 22:15] #1620 closed

[2018-11-23 00:42] piotrswigon commented on #2120
Taking this over.

[2018-11-26 19:09] #1714 closed

[2018-11-26 19:44] sjmiles commented on #2104
@Cypher1 I'm not sure what is unclear from my original description, I'm afraid I'm going to repeat myself, so please let me know what part is unclear.

Today, if a handle is specified in any way in a Particle manifest, a matching handle must exist somewhere in the recipe for it to resolve.

However, there are some Particles that do not _require_ a handle, but can take advantage of said handle if i

[2018-11-26 19:47] mmandlis commented on #2273
This should be fixed with https://github.com/PolymerLabs/arcs/pull/2297. Please, reopen, if you see it again.

[2018-11-26 19:47] #2273 closed

[2018-11-26 19:51] sjmiles commented on #2262
@shaper I made this to track all the shell-related bugs, they are not all blockers. The labels on the individual tickets should describe priority.

@mmandlis The older shell does not support Arcs-in-pouch, so the system is locked-in to firebase until 0_6_0.

@Cypher1 Thanks for looking at #2104. I added some more information there, I hope it clarifies. Also, this is not a blocker, I've marked it a

[2018-11-26 20:07] #2140 closed

[2018-11-26 20:07] sjmiles commented on #2140
Fixed by #2267

[2018-11-26 20:27] #1925 closed, assigned to sjmiles

[2018-11-26 20:31] sjmiles commented on #1810
Marking as a `p1` until we create a POR or at least isolate an assignee.

[2018-11-26 20:35] sjmiles commented on #92
Need a description here of what's already done and what needs to get done.

[2018-11-26 20:36] sjmiles commented on #92
See also #1790

[2018-11-26 20:43] #2105 closed

[2018-11-26 20:51] sjmiles opened #2303 "assertion failure at firebase-storage.js:834 (0_6_0)"
Should be visible directly from live (https://polymerlabs.github.io/arcs-live/shell_0_6_0/web-shell/).

![image](https://user-images.githubusercontent.com/98045/49041382-f0515900-f179-11e8-89cb-18edd2a8c356.png)

[2018-11-26 20:55] piotrswigon commented on #2105
@sjmiles Can you confirm if this is fixed? The entire mechanism for hosted particle serialization is revamped, so I think this should no longer happen, but do let me know if there are still problems.

[2018-11-26 20:57] piotrswigon commented on #2274
If @mmandlis is right then this should be fixed. Can we try to reproduce it? If it still happens I will happily explore what's going on.

[2018-11-26 20:57] #2274 closed

[2018-11-26 20:58] sjmiles opened #2304 "[0_6_0] Arc metadata is written to launcher before the Arc itself is serialized"
resulting in

![image](https://user-images.githubusercontent.com/98045/49041740-e67c2580-f17a-11e8-89d9-d9a96e04da50.png)

[2018-11-26 21:33] sjmiles opened #2305 "Dev Extension Error"
![image](https://user-images.githubusercontent.com/98045/49043413-d74ba680-f17f-11e8-8d11-daa6b97043af.png)

This is on my Windows machine (loading arcs-live).

[2018-11-26 21:37] sjmiles commented on #2121
So I dont' forget, when the shell-0_6_0 encounters this problem, it implements a workaround and emits this message:

![image](https://user-images.githubusercontent.com/98045/49043581-53de8500-f180-11e8-9424-6055a8c49917.png)

[2018-11-26 21:48] sjmiles opened #2306 "Location of backingStores and bigCollections not controlled by storageKey"
We have been using paths in the storage-key to isolate data into particle database-nodes by version.

E.g., the default `storageKey` in shell 0_6_0 is `firebase://arcs-storage.firebaseio.com/AIzaSyBme42moeI-2k8WgXh-6YK_wYyjEXo4Oz8/0_6_0/`.

However, `backingStores` and `bigCollections` seem to always live at database root.

[2018-11-26 21:50] sjmiles opened #2307 "Pathological slow downs caused by backingStores"
I believe this is a well known problem, but I wanted to have a tracking ticket. Please add detail as desired.

[2018-11-26 22:07] piotrswigon commented on #2305
Bizarre, this codepath should not execute when ArcsExplorer runs as an extension against a page.

Could you add following lines at the top of devtools/src/devtools.js:
[code]
And then let me know what you see in the extension console (right click somewhere in arcs explorer and select 'inspect')?

[2018-11-26 22:32] sjmiles commented on #2274
Looks like it's fixed, thanks!

[2018-11-26 22:42] sjmiles commented on #2104
Permission to revise and extend my remarks!

Actually how I'm solving the optional-handle problem today is not by writing permuted manifests (this is really not manageable even now) but by forcing various stores to exist in context a-priori.

This is a bit nasty: the code is involved and it creates various timing problems. I would be very happy to do away with it. I think I will qualify this issue

[2018-11-26 23:31] sjmiles commented on #2305
It looks like the bug I posted is transient, but dev tools is still not appearing. This is the more common error:

![image](https://user-images.githubusercontent.com/98045/49048641-58129e80-f190-11e8-95f8-2db91b0c15cd.png)

[2018-11-26 23:37] sjmiles commented on #2305
For completeness I added the logs you requested. Here is the console output:

![image](https://user-images.githubusercontent.com/98045/49048850-3bc33180-f191-11e8-8c82-f4ef84bfe024.png)

[2018-11-26 23:39] sjmiles commented on #2305
I also failed to mention that the result is that Strategy Explorer is blank, other tools seem to be mostly working.

[2018-11-26 23:52] piotrswigon commented on #2305
Ah, cool, I do see that SE is blank. That may be related to @mmandlis changes to how we serialize generations from remote planning, I will investigate now and try to fix ASAP.

[2018-11-27 00:01] piotrswigon commented on #2305
I found we now need to have `?planificatorDebug=true` in the URL for the plan producer to write generations to show to strategy explorer.

[2018-11-27 00:08] piotrswigon commented on #2305
@mmandlis WDYT about peeking at the state of DevTools connection to decide whether to write generations in Firebase? For remote planning it will always says no (for now), but for the local plan production it will free us from using the `?planificatorDebug=true` in the URL.

I would prefer it, as the URL param is not very discoverable. @sjmiles opinions?

[2018-11-27 00:22] sjmiles opened #2313 "Cannot deserialize RestaurantsDemo"
Steps to repro (hopefully):

1. load `shell_0_6_0/web-shell`
1. type 'restaurants' into search box
1. choose `[demo] find restaurants ...`
1. refresh

![image](https://user-images.githubusercontent.com/98045/49050226-37017c00-f197-11e8-86c9-f4206d20e1f8.png)

[2018-11-27 00:29] sjmiles opened #2314 "Restaurants demo produces two suggestions"
Steps to repro (hopefully):

1. load shell_0_6_0/web-shell
2. type 'restaurants' into search box

Two suggestion are produced.

StrategyExplorer isn't working for me atm so it's hard to root-cause the ambiguity. Thought I would note it here so we can record any interesting discussion. :)

[2018-11-27 00:29] piotrswigon commented on #2313
I will take it over.

[2018-11-27 00:31] mmandlis commented on #2305
I'll send a PR shortly

[2018-11-27 00:31] sjmiles commented on #2305
Thanks for the information. We should definitely automate this wherever we can.

Are the generations particularly costly to transcribe?

[2018-11-27 00:33] sjmiles commented on #2305
Fwiw, when I run with `?planificatorDebug=true` the StrategyExplorer shows some information briefly, then it gets cleared right away.

It's likely I'm doing something wrong, but I still cannot use the tool for debugging.

[2018-11-27 00:39] mmandlis commented on #2305
created: https://github.com/PolymerLabs/arcs/pull/2315

[2018-11-27 00:50] mmandlis commented on #2314
These suggestions differ in slot assignments, maybe the recipe needs to be a bit more specific about the slots.
One recipe is:
[code]

and the other is:
[code]
Would you like me to try tweak the recipe?

[2018-11-27 02:18] piotrswigon commented on #2313
The root cause is that we inherit the session from the previous instance of the arc and get conflicts in IDs. Local ID starts again at 0 and when newly generated 'session:arc_id:local_id' overlaps with already existing ID we mess up when operating on the recipe (cloning in particular).

Patch with a fix coming soon.

[2018-11-27 03:46] sjmiles commented on #2314
Thanks for the PR, but the reason I marked this Developer Weirdness is because we have to discuss the ergonomics. The goal isn't a system that can be made to work, but a system that works smoothly, so the developer can concentrate on the novel problem they are solving and not get stuck managing arcana.

[2018-11-27 03:56] sjmiles commented on #2305
Largely fixed. There is an ongoing question about serving the DevTools from non-volatile environments.

@mmandlis still would like an answer to:

[2018-11-27 03:56] #2305 closed

[2018-11-27 03:59] mmandlis commented on #2305
It is possible to enable storing the `generations` in non-volatile environments (by passing a `debug=true` to the planificator::create method). It is just that they are significantly larger than planner results otherwise, so we felt it is wrong to enable it by default.

[2018-11-27 04:08] mmandlis commented on #2314
It looks slightly better now, when I removed most of the slot bindings. The only ones necessary are related to `action` slot - I suspect this is needed because there are 2 particles that provide slot named `action`, so there are multiple possibilities for the `action` consumer.
I agree, there still is a lot of opportunities to improve in this area.

[2018-11-27 22:13] sjmiles commented on #2305
Ok, thanks info!

[2018-11-27 22:17] sjmiles commented on #2313
Thanks for the updates @piotrswigon.

[2018-11-27 22:18] #2314 closed

[2018-11-27 22:20] sjmiles commented on #2065
Note: I removed `blocker` as currently all `p1` are considered blockers unless they have `non-blocker` label. Sounds dumb as I write it, but it actually reduces the total number of labels.

[2018-11-28 01:48] #2313 closed

[2018-11-28 18:16] lindner commented on #1946
This was implemented a while back.  Updates to Pouch will be filed as separate issues.

[2018-11-28 18:16] #1946 closed

[2018-11-28 18:17] lindner commented on #2180
Not reproducable.

[2018-11-28 18:17] #2180 closed

[2018-11-28 18:18] lindner opened #2326 "Implement PouchDB-based BigCollection"
For parity with Firebase support the BigCollection APIs.

[2018-11-28 18:20] lindner opened #2327 "Verify that PouchDb implements event triggering correctly."
The Firebase event triggers are implemented in a different way than the Pouch version.

Audit code for each event emitter and verify that Pouch does the same thing under the same conditions.

[2018-11-28 18:21] lindner opened #2328 "Verify PouchDB Reference Mode behavior"
Walk through the Pouch code and write tests to verify that we have consistent Reference mode handling between the storage drivers.

[2018-11-28 18:23] lindner opened #2329 "Cloud Planning End-to-End tests"
To verify that cloud planning works we will want to create an end-to-end test that exercises this via a webdriver browser or other means.  It would involve running code on the actual running server.

[2018-11-28 19:30] sjmiles commented on #465
Some commits back at this point I took a naive shot at implementing ShadowDOM in the composer code and it actually worked (a couple follow on bugs, but nothing serious). A bit surprising frankly, but I'll take the win (maybe I should pretend we worked on it for the whole year =P).

Upshot is that most of the original four steps we outlined are not needed. I think that leaves us with:
"allow specif

[2018-11-28 19:57] sjmiles opened #2330 "Exceptions from firebase-storage.js (0_6_0)"
Should appear directly after opening https://polymerlabs.github.io/arcs-live/shell_0_6_0/web-shell/

These errors seems to be modulating over time, I'll try to keep the issues up to date.

![image](https://user-images.githubusercontent.com/98045/49178437-a0eb6400-f304-11e8-8954-7b7c41c46b60.png)

[2018-11-28 19:58] sjmiles commented on #2303
This has gone away, the new behavior is #2330

[2018-11-28 19:58] #2303 closed

[2018-11-28 20:26] shaper opened #2331 "Explore removing rollup from server module."
Perhaps we can both remove use of a tool (rollup) and improve developer workflow by removing the need to run rollup during the edit-build-debug cycle.

@cromwellian as FYI in case the PWA is using or planning to use rollup as it would likely be a next target.

[2018-11-28 20:35] sjmiles opened #2332 "slot-dom-consumer.ts:253 Slot root has unexpected inner slot (0_6_0)"
Repro:

1. open https://polymerlabs.github.io/arcs-live/shell_0_6_0/web-shell/
2. type 'restaurant' in search
3. choose '[demo] find rest...'
4. return to launcher
5. choose '[demo] find rest...' a second time

Should produce numerous `unexpected inner slot` warnings.

[2018-11-28 21:38] shaper commented on #92
@cromwellian has relevant background re: isolation.

[2018-11-28 21:42] shaper commented on #119
Not sure whether this is still relevant as we move to inline schema and essentially structural typing. @shans @cromwellian

[2018-11-28 21:44] sjmiles commented on #93
Fwiw, shell isolates a list of these here:
https://github.com/PolymerLabs/arcs/blob/master/shell_0_6_0/configuration/whitelisted.js

Today event data is restricted to round-tripped private data the particle has installed on a node (the `key`) and a single `value` property provided by the target element.

Ensuring proper `value` property is a requirement for being a privileged (whitelisted) compone

[2018-11-28 21:46] sjmiles commented on #93
Can we define what constitutes completion on this issue?

[2018-11-28 21:46] shaper commented on #332
This is essentially a feature request for future suggestions design doc work. FYI @mmandlis

[2018-11-28 21:47] shaper commented on #382
Obsolete with much code shuffled and reworked since, AFAIK.

[2018-11-28 21:47] #382 closed

[2018-11-28 21:47] shaper commented on #401
Larger work item in future around developer documentation, SDK, tutorial. Closing in deference to that future workstream.

[2018-11-28 21:47] #401 closed

[2018-11-28 21:48] shaper commented on #402
Obsolete.

[2018-11-28 21:48] #402 closed

[2018-11-28 21:50] shaper commented on #410
Not sure whether this is still an issue. Could be stale/obsolete. Needs a repro attempt with the detail @seefeldb provides above to see if/how it manifests at ToT.

[2018-11-28 21:51] shaper commented on #411
Needs review at ToT to see how/whether still relevant, but likely still a feature request consideration. @piotrswigon

[2018-11-28 21:52] shaper commented on #427
@seefeldb to comment on above.

[2018-11-28 21:54] shaper commented on #450
Feels obsolete, can reopen/dust off if needed.

[2018-11-28 21:54] #450 closed

[2018-11-28 21:55] shaper commented on #471
Could be obsolete, at minimum some renaming since issue filed. Is this perhaps referring to slotlets now? Will mark p3 since it's been sitting this long.

[2018-11-28 21:58] shaper commented on #480
Very stale, kicking to design work underway around storage and entity mutation. FYI @shans @seefeldb  to reopen or clarify if otherwise.

[2018-11-28 21:58] #480 closed

[2018-11-28 21:59] shaper commented on #499
Needs repro attempt, not sure if still an issue.

[2018-11-28 22:02] shaper commented on #560
@cromwellian re: isolation related work could eventually address by creating separate namespaces per particle. Also note modules are now supported in workers in Chromium (though still only behind a flag).

[2018-11-28 22:03] shaper commented on #560
Testing whether Ray gets this update as well.

[2018-11-28 22:05] shaper commented on #587
Update desirable on current status, @shans to provide. We do have some tests, I know @lindner has also had some discussion and done work here.

[2018-11-28 22:07] shaper commented on #644
Need to attempt repro to see whether this is still broken.

[2018-11-28 22:07] shaper commented on #652
@cromwellian re: potential isolation relevance.

[2018-11-28 22:09] shaper commented on #665
May not still be broken, but needs repro attempt.

[2018-11-28 22:10] shaper commented on #666
Did we add this, I forget? I feel like maybe we did. Or at least discussed sometime recently. Marking P2 since it seems we do want it at some point.

[2018-11-28 22:11] shaper commented on #680
There are a batch of tests under `runtime/test/strategies` now. But maybe this was about adding unit tests for the strategizer at a level above the individual strategies?

[2018-11-28 22:13] shaper commented on #685
@mmandlis did some work above, to update with current status. Making a guess at priority.

[2018-11-28 22:13] mmandlis commented on #680
yes, this is for tests for the strategizer itself, not strategies.
the individual strategies have reasonable test coverage, i think.

[2018-11-28 22:14] shaper commented on #697
Stale, we can reopen with updated proposal/description if needed.

[2018-11-28 22:14] #697 closed

[2018-11-28 22:15] mmandlis commented on #666
I believe this was done: https://github.com/PolymerLabs/arcs/pull/2029

[2018-11-28 22:15] #666 closed

[2018-11-28 22:15] shaper commented on #713
Stale.

[2018-11-28 22:15] #713 closed

[2018-11-28 22:16] shaper commented on #716
Shell has been reworked at least a few times since. Need to attempt repro to see if this is still an issue.

[2018-11-28 22:17] shaper commented on #724
Stale

[2018-11-28 22:17] #724 closed

[2018-11-28 22:18] shaper commented on #725
New shell has this in at least some form.

[2018-11-28 22:18] #725 closed

[2018-11-28 22:18] mmandlis commented on #685
there is more that we can improve in the area, but this particular issue was fixed.

[2018-11-28 22:18] #685 closed

[2018-11-28 22:18] shaper commented on #727
@mmandlis do we still have this test?

[2018-11-28 22:19] shaper commented on #750
Stale, I think.

[2018-11-28 22:19] #750 closed

[2018-11-28 22:21] shaper commented on #809
Didn't we do this, or at least part of the work? @piotrswigon

[2018-11-28 22:21] mmandlis commented on #727
we do in the old shell https://github.com/PolymerLabs/arcs/blob/master/shell/test/specs/demo-tests.js#L54
it is commented out in the 0_6_0 shell: https://github.com/PolymerLabs/arcs/blob/master/shell_0_6_0/test/specs/demo-tests.js#L55
but probably this is temporary, @sjmiles?

[2018-11-28 22:21] shaper commented on #812
Some of these are done, but not all, I believe. Usefulness of the preceding comment: limited.

[2018-11-28 22:35] piotrswigon commented on #644
I think we do want to allow mapping explicitly by an id.

An example use case I have in mind is having a recipe author map handles from the public arc they maintain by ID. This would allow their particles to have access to some up to date information, e.g. configs, rules, other pieces they may decouple from code.

I will take a look whether this works today.

[2018-11-28 22:37] shaper commented on #2331
@cromwellian note: one blocking issue, we have some transitive dependencies that are cjs deps. Some modular loaders we're using don't like cjs deps and need hack workarounds. A benefit of webpack/rollup is the removal of import statements. An example re: x509 cert parsing, potentially a few more we may need to fix. A couple of options: (1) port to TS or ES6 modules, (2) roll up just those deps.

[2018-11-28 22:39] piotrswigon commented on #644
On a brief inspection this has to work as we use this in multiple demos. Restaurants, TVMaze, Music.
E.g.
`map 'PROFILE_all_piped-all_showcase_play_record' as fullPlayHistory`
`map 'SYSTEM_user' as user`
`map 'PROFILE_all_piped-all_tv_shows' as allPipedShows`

[2018-11-28 22:39] #644 closed

[2018-11-28 22:56] cromwellian commented on #926
@sjmiles do we still need to do this?

[2018-11-28 22:57] cromwellian commented on #931
I feel like this somewhat overlaps with the isolation stuff I was designing, so I assigned it to myself.

[2018-11-28 22:58] cromwellian commented on #951
@shaper Is this stale?

[2018-11-28 22:59] shaper commented on #951
Yeah, I think so.

[2018-11-28 22:59] #951 closed

[2018-11-28 22:59] cromwellian commented on #961
@mmandlis Is there ongoing work on this?

[2018-11-28 23:02] cromwellian commented on #962
@shans Marking this as P2, but close it if it is stale.

[2018-11-28 23:02] mmandlis commented on #961
there is no ongoing work, and MapSlots does return combinatorial results now, so I'll close this.

[2018-11-28 23:02] #961 closed

[2018-11-28 23:03] piotrswigon commented on #812
The only thing that is not available in the DevTools extension that is in the AppShell is the Xen Explorer. I don't plan to port it, as it is aim to help debugging the shell code - as I understand it. @sjmiles opinions?

There obviously may be issues with DevTools, e.g. Illuminate tool no longer works since we moved to shadow-dom per-particle, but those are just bugs.

I am closing this. Thanks Wa

[2018-11-28 23:03] #812 closed

[2018-11-28 23:05] cromwellian commented on #1060
@piotrswigon  I added you because you've been working on making the debugging experience better recently.

[2018-11-28 23:08] cromwellian commented on #1133
@mmandlis Should this be a P2?

[2018-11-28 23:09] cromwellian commented on #1149
@lindner Is this closeable now?

[2018-11-28 23:11] cromwellian commented on #1218
@shaper stale?

[2018-11-28 23:12] #1235 closed

[2018-11-28 23:14] mmandlis commented on #1133
I think we should probably either close or rephrase this - the associated PR was dropped because we decided that `tags` required more thought and design work. So maybe p2 and either a "design" or a "feature" label?

[2018-11-28 23:14] #1276 closed

[2018-11-28 23:20] cromwellian commented on #1397
@mmandlis Is this stale?

[2018-11-28 23:21] #1429 closed

[2018-11-28 23:21] mmandlis commented on #1397
no, and I think Piotr was going to look at this.

[2018-11-28 23:21] shaper commented on #1218
I think we still need to do this but the code has moved around. Can leave open for now.

[2018-11-28 23:23] sjmiles opened #2336 "Improve or discard `containerKind` concept"
Each particle lives inside a node that is provisioned by Composer logic. Usually this is just a `div` (blank block display element), but when working with `a-frame` (in particular) we needed these elements to be of kind `a-element` instead.

Today we solve this by configuring slot-composer with a `containerKind` property that controls the container tag name.

@mmandlis and I have discussed making

[2018-11-28 23:32] cromwellian commented on #1679
@mmandlis Re-pinging, if this exception is still occurring.

[2018-11-28 23:32] mykmartin commented on #1604
Nothing yet :)

[2018-11-28 23:36] cromwellian commented on #1786
we could do this if we map unique users to Cloud endpoints (user1.skarabrae.org vs user2.skarabrae.org) and serve the shell from each personal vm.

[2018-11-28 23:36] cromwellian commented on #1791
I'll take this one.

[2018-11-28 23:37] cromwellian commented on #1798
This seems like a straight up bug?

[2018-11-28 23:38] cromwellian commented on #1799
@lindner We're using it now? Can we close this?

[2018-11-28 23:44] cromwellian commented on #1890
Reopen if it happens again.

[2018-11-28 23:44] #1890 closed

[2018-11-28 23:46] cromwellian commented on #1902
Didn't this get fixed?

[2018-11-28 23:48] #1986 closed

[2018-11-28 23:49] cromwellian commented on #1988
Added /lock entrypoint

[2018-11-29 00:02] mmandlis commented on #1679
this test has been disabled for a while now, but if enabled, the exception is still happening.

[2018-11-29 00:08] mykmartin commented on #2330
I'm seeing similar errors. Will pick this up after finishing up the arc serialisation work, because it's possible that's the underlying cause. Don't worry about updating the bug as the nature of the exceptions change.

[2018-11-29 01:40] Cypher1 commented on #2104
Updating assignment to reflect that I'm working on this at the moment.
I'm leaving @shans also assigned as I'm only 20% and anything urgent might have to go through him.

[2018-11-29 01:51] piotrswigon commented on #809
I've just sent a PR for source-mapping stack traces sent in the RaiseSystemException (#2337), with that I think we have all we could need for this bug. I will therefore close it.

[2018-11-29 01:51] #809 closed

[2018-11-29 04:02] piotrswigon commented on #1060
I will most likely be creating some enhanced manifest editor inside DevTools. I will be looking at transferring manifest errors to DevTools, which will probably require some refactoring. I'll take a stab at this issue at that point. Keeping assigned to me.

[2018-11-29 04:05] piotrswigon commented on #1397
This can be done quite trivially for particles, but I'm not sure it gives us much.

Bigger piece of work is to do this for recipes - but that's quite complex (inferring interface of a recipe in particular).

Marking P2, as we definitely want it, but I won't be doing this unless some demo needs this.

[2018-11-29 04:08] piotrswigon commented on #1617
Let's revisit once @AliceLetitia is done with require/construct - it will make handle connecting handles between recipes more explicit.

[2018-11-29 19:03] shaper commented on #1255
Stale, extension needs larger review when we get back to it, closing for now.

[2018-11-29 19:03] #1255 closed

[2018-11-29 19:05] shaper commented on #2239
Considered making this P1. Open to thoughts. Since we've done some work, feels like we can wait a bit and see, perhaps.

[2018-11-29 19:12] shaper commented on #1828
Someone with a Mac should own this, to explore with Safari. @mmandlis can you look at some point? The initial task seems to be just to explore a bit more, and you already did some work bisecting of sorts. Not a high P1 but I agree with Scott that it'd be nice to get some insight.

I don't think we should `wontfix` this.

[2018-11-29 19:13] shaper commented on #1810
I'm making @lindner the owner here following Highlander principle, but @shans @sjmiles should obviously continue to discuss.

[2018-11-29 21:54] sjmiles commented on #1810
I did a bunch of work to solve some of these problems from a pragmatic POV, see this [document](https://docs.google.com/document/d/1Sa8c7LcK9BQFQQPN3HBC1MKb2EkiH3QbApsgicrjMVU/edit#).

[2018-11-29 22:31] shans opened #2340 "ParticleExecutionHost has to discard types to call appropriate Singleton/Collection/BigCollection methods"
We should provide interfaces for these and track typing more closely.

[2018-11-29 22:36] shans opened #2341 "UI infrastructure introduces hidden dependency on DomParticle"
ParticleExecutionContext assumes that Particles have all of these methods, because there's no way to tell whether a particle is actually a DomParticle or not.

In fact, these methods should all be provided on Particle directly, because you shouldn't have to use DomParticle to do rendering.

onInnerArcRender calls renderHostedSlot
onUIEvent calls fireEvent
onStartRender calls renderSlot and uses _s

[2018-11-30 00:42] piotrswigon commented on #2332
This fix is on me. The problem is caused by having slot IDs in the template since #2228 - thanks @mmandlis for figuring this out.

[2018-11-30 04:52] shaper commented on #1615
@sjmiles where is the code now (the link above is stale)? Also pinging @mmandlis to see whether she is best Runtime owner time/workload-wise currently. It's a P1 so we should seek some periodic update/progress and it's been a while.

[2018-11-30 04:54] shaper commented on #2065
It's my understanding @mykmartin is actively working on this per chat discussion, just checking since there's no update on the issue here. @sjmiles are you aware of what's in flight or would you like a summary of what's planned, done, yet-to-come from @mykmartin?

[2018-11-30 04:55] shaper commented on #2306
Note from @shans chat: "Fixing it is a pretty minor change, but it does mean that we'll need to effectively blow away the datastore again."

[2018-11-30 04:59] shaper commented on #2307
@shans do you need more detail or repro steps? Do we know what set of work we expect to address this? I remember some discussion from SEA but would like to not illustrate my potentially poor recollection abilities.

[2018-11-30 05:01] mykmartin commented on #2065
Yep, CL is about to go for review now.

[2018-11-30 05:05] shaper commented on #2064
Assigning to @mykmartin over @shans so that there's a single owner (and because 'm' comes before 's' in the alphabet), but feel free to discuss/shuffle subsequently, or put in your queue and let us know what it's behind,

[2018-12-01 00:56] sjmiles commented on #2065
This is fixed by #2347 and #2351.

Shell no longer depends on Firebase, there is much rejoicing!

There are a few p2 cleanup tasks, but we'll handle those separately.

[2018-12-01 00:56] #2065 closed

[2018-12-01 00:59] sjmiles commented on #2330
As predicted by Myk, these errors have cleared up after the last several PRs. I'm declaring victory.

[2018-12-01 00:59] #2330 closed

[2018-12-03 00:04] #2332 closed

[2018-12-03 19:42] mmandlis opened #2360 "Planificator fails when configured with `?plannerStorageKeyBase=firebase`"
The error happens https://github.com/PolymerLabs/arcs/blob/master/runtime/ts/plan/planificator.ts#L157

storage-provider-factory.js:25 Uncaught (in promise) Error: unknown storage protocol: firebase/dummylocation
    at StorageProviderFactory.getInstance (storage-provider-factory.js:25)
    at StorageProviderFactory._storageForKey (storage-provider-factory.js:33)
    at StorageProviderFactory.pars

[2018-12-03 20:02] sjmiles opened #2362 "Build icons flaky on PolymerLabs/arcs main page"
![image](https://user-images.githubusercontent.com/98045/49398450-4cc0f500-f6f3-11e8-8c15-a4980b179b27.png)

[2018-12-03 20:05] mmandlis commented on #2360
I tried to work around this by setting the storageKeyBase to `firebase:/`, but with firebase it also has to end with '.firebaseio.com'
https://github.com/PolymerLabs/arcs/blob/5550c422cc21b16f32334da3ce79d7ea4789fafb/runtime/ts/storage/firebase-storage.ts#L54
so this kind of solution won't work. Probably still need some DB specific key handling here, WDYT?

[2018-12-03 20:39] lindner commented on #2360
Are you specifying a storageKeyBase for firebase?  I have not attempted that and instead rely on the Arc storageKey.

I'll look in a few minutes.

[2018-12-03 20:42] mmandlis commented on #2360
Similar problem is with remote-planning, where I must specify the storageKey:
https://github.com/PolymerLabs/arcs/blob/12b3ecb3722d8e3bd221db4c55b97610eb3876dc/shell/apps/remote-planning/interface.js#L33

[2018-12-03 21:00] lindner commented on #2360
Aha, the code needs to default to launcher arc storageKeyBase if not specified.  Some of the explicit checks were removed, but not all.

[2018-12-03 22:15] mmandlis opened #2367 ""Error: variable cannot resolve to collection of itself""
reproducible on https://polymerlabs.github.io/arcs-live/shell/apps/web/
happens with Music.recipes and Social.recipes.

assert-web.js:11 Uncaught (in promise) Error: variable cannot resolve to collection of itself
    at assert (assert-web.js:11)
    at TypeVariable.set resolution [as resolution] (type-variable.js:95)
    at Function._tryMergeTypeVariable (type-checker.js:97)
    at Function.proce

[2018-12-03 22:21] mykmartin commented on #2367
I'll take a look

[2018-12-03 22:30] sjmiles commented on #1615
I haven't yet ported this to `shells` ... it doesn't fit properly, I'll wait for @mmandlis to crush it. :)

[2018-12-03 23:18] piotrswigon opened #2368 "Move all IDs to ID object instances."
We should make all ids to be ID objects everywhere except on the wire (and in data stores and recipes).

[2018-12-03 23:57] mykmartin opened #2369 "Rename type classes and their contained data classes."
e.g. VariableType/TypeVariable -> TypeVariable/TypeVariableInfo

[2018-12-04 02:03] #2367 closed

[2018-12-04 21:06] shans opened #2377 "choose a better name for the method 'connectOrConstruct'"

[2018-12-04 22:10] mykmartin commented on #2377
Alternatively: replace all three methods with a single connect/join/whatever method that takes an optional flag for callers that actually care about whether the store should exist or not.

[2018-12-04 22:13] mmandlis opened #2378 "class Suggestion should implement toLiteral/fromLiteral"
instead of serialize/deserialize and not depend on additional objects (arc, recipeResolver) as part of de/serialization.
current blockers:
1) hosted particle specs serialized as stores and are added to arc's context during deserialization - possibly already fixed by @piotrswigon's work on hosted particles
2) assigning IDs for local slots (https://docs.google.com/document/d/1Rk7UpwLSjyreZsGELYhPA05

[2018-12-05 05:32] sjmiles commented on #90
Sheriff says this ticket is elderly and should be in bed, not the saloon.

[2018-12-05 05:32] #90 closed

[2018-12-05 05:36] sjmiles commented on #93
Sheriff says this ticket is elderly and should be in bed, not the saloon.

[2018-12-05 05:36] #93 closed

[2018-12-05 20:27] sjmiles opened #2386 "cached SyntheticStore missing new data"
`shells/lib/synthetic-stores.js` utility has a method with code like so (pseudo-code):
[code]
If the returned store has no records at connect-time, and then a record is added (to remote storage), sometimes the returned store never sees the new record.

Calling `connect` a second time (after the record was added) produces a store that contains the new record.

[2018-12-06 04:49] Cypher1 commented on #2104
I'm working on some tests (that I don't intend to add at the moment) to work out where the gaps are in the functionality of the '?' syntax.

Currently this is only for handles, but I intend to ensure that the same works for slot-handles (slandles).
https://github.com/PolymerLabs/arcs/pull/2387

[2018-12-06 23:14] lindner opened #2390 "Shell 0.6 PouchDb Integration Issues"
As noted in our runthrough there are some differences between pouchdb and firebase that cause issues.

- calling connect on a key that does not exist will throw in some cases, whereas firebase does not
- toList() can also throw whereas firebase would not.
- [more to come]

[2018-12-06 23:23] mmandlis opened #2391 "stale suggestions in new shell after accepting a suggestion"
Reproducible in arcs-live:
- accept “find restaurants near you”
- new arc with restaurants is created

Expected: "make reservation" suggestion to show up
Instead:
- no "make reservation" suggestion
- "find restaurants near you" suggestion still showing

Probably the "null" arc's planificator is not properly disposed and still populating suggestion-composer.

[2018-12-07 01:27] mmandlis opened #2393 "remote planner runs with 'mock' modality"
so it can produce recipes with particles of mixed modalities (because every particle has 'mock' modality added to its spec)

ps: also only text description is produced for suggestions produced remotely (eg dom description is missing)

[2018-12-07 17:39] mmandlis commented on #2249
closing this, as it's not happening in the shell 0_6_0.

[2018-12-07 17:39] #2249 closed

[2018-12-07 17:43] mmandlis opened #2397 "rewrite user-planner.js to be firebase agnostic and work with the new shell"
https://github.com/PolymerLabs/arcs/blob/master/shell/apps/remote-planning/user-planner.js

[2018-12-07 18:06] mmandlis opened #2398 "move recipe-index from Arc into the Planificator"
Doesn't need to be in the Arc.

@piotrswigon btw would it make sense to de/serialize the recipe-index produced recipes into storage and load them, instead of regenerating every time?

[2018-12-07 18:21] mmandlis opened #2399 "Support strategizing for context (without an arc)"
atm we proactively create an empty arc to strategize for. Strategization could happen on the context manifest.
exploratory PR: https://github.com/PolymerLabs/arcs/pull/2256

TBD:  need to figure out how to treat `modality` and `SlotComposer.getAvailableContext`.

[2018-12-07 18:26] mmandlis opened #2400 "Support merging planning-results"
When/if planning is run both in the Cloud and on device, we need to be able to thoughtfully merge planning results produced by different planificators.

[2018-12-07 18:46] mmandlis opened #2401 "improve search string user experience"
currently arcs persists the last search string per user, per arc.
some questions needs to be figured out / fixed:
- when should the search string be cleared?
  - when a (searched for) suggestion was accepted?
  - when user leaves the arc?
  - after a certain period of time (expiry)?
while the search string is present, it should be displayed in shell's search input.
- is launcher arc's search treat

[2018-12-07 18:51] mmandlis opened #2402 "Description should not depend on speculative arc"
Currently Description depends on speculative arcs for store values in descriptions.
However the speculative arc should be short lived transient object and can't be serialized alongside with description in the suggestion.

Instead of depending on the speculative arc, description should just fetch all required values from it and serialize them.

As a temporary workaround, suggestion generates descri

[2018-12-07 20:51] mmandlis opened #2404 "avoid generating slot IDs during suggestion serialization (and arc instantiation)"
During Planning slot IDs are not assigned for local slots (ie slots that don't yet exist and are provided within the current recipe). This is problematic for Cloud planning, when:
- [cloud] produces suggestion:
[code]
- [device] suggestion is accepted, recipe is instantiated, slots are rendered. During recipe instantiation, an ID is assigned to mySlot: 'arc-on-device-my-slot-id'
- [cloud] instanti

[2018-12-07 20:53] mmandlis commented on #1901
this issue was fixed, but not in a clean way. filed a separate clean up issue #2404, so closing this now.

[2018-12-07 20:53] #1901 closed

[2018-12-07 20:58] mmandlis opened #2405 "write a README for Cloud planning with Pouch"
write a README for Cloud planning, explaining:
- how to use Pouch in shell for (1) suggestions only and (2) arcs and suggestion
- how to configure and run remote planner from command line / server, and run shell in plan-consumer only mode (to use suggestions produced remotely) with either Pouch or Firebase.

Parts of this are documented here: https://github.com/PolymerLabs/arcs/tree/master/server

[2018-12-07 21:00] mmandlis opened #2406 "Deprecate old shell's storage paths in Planificator"

[2018-12-07 21:01] mmandlis commented on #2405
some info is here:
https://dynamite-preprod.sandbox.google.com/room/AAAAhVHs8PE/M1Cs2828Pto

[2018-12-07 21:03] mmandlis opened #2407 "Cannot de/serialize Arcs into Pouch using shell 0_6_0"
to use Pouch, add `&storage=pouchdb://local/randomdbname` to the URL.
getting numerous errors in the console:
[code]

[2018-12-07 21:04] mmandlis commented on #2407
@lindner I believe you and @sjmiles made a list of calls that don't work properly yesterday. could you, please, add them here? thanks.

[2018-12-07 21:06] mmandlis opened #2408 "create childKeyForSuggestion helper method in all storage implementations"
similar to the existing `childKeyForArcInfo` and `childKeyForHandle`.

@shans is it possible that Suggestion should be a Type as well?

[2018-12-07 22:13] mmandlis opened #2409 "up-to-date brief Planificator design doc"

[2018-12-07 22:35] mmandlis opened #2410 "Revisit cloud planning code structure, dependencies and ownership"
The old shell's user-planner had a dependency on firebase. The shell 0_6_0 will be storage protocol agnostic, but will depend on the shell's code for retrieving the user's arcs and shell config (#2397 ).

OTOH the planificator is currently part of runtime.

(As part of and in addition to the global modularization efforts @raulverag) Planning should an encapsulated component with clear and reasonab

[2018-12-07 22:36] mmandlis commented on #2410
assigning to myself, but will need input and help from (including, but not limited to) @raulverag @lindner and @sjmiles

[2018-12-07 22:38] mmandlis opened #2411 "unit tests for remote planning"
existing unit tests only cover plan-producer and plan-consumer.
write unit tests testing numerous interacting planificators in produce+consume and/or consume-only modes.

[2018-12-08 00:47] mmandlis opened #2412 "Adjust planificator code to shell 0_6_0 "null" arc implementation"
There are special work around for empty arc in planificator. Shell 0_6_0 uses "null" arc to plan for to-be-created arc (instead of launcher).
Cleanup special launcher-arc planning in planificator code (there is no need to plan for launcher arc anymore)

[2018-12-08 01:02] mmandlis opened #2413 "`storage` and `storageKeyBase` URL params are confusing"
`storage` is the keyBase indicating where Arcs should be stored
`storageKeyBase` (or equivalent `plannerStorageKeyBase`) is the keyBase indicating where Suggestions should be stored

The name of the params are wrong and confusing.

[2018-12-10 04:28] mykmartin opened #2418 "Rename 'shape' to 'interface' in manifests"
The Shape type classes have already been renamed as part of #2369. This issue is to track the manifest and parsing side.

[2018-12-10 22:08] mykmartin commented on #2386
Looking at this now... I presume ${storage} is a firebase key?

[2018-12-10 22:38] #2418 closed

[2018-12-10 23:23] #2406 closed

[2018-12-11 00:10] sjmiles commented on #2407
In #2420 I added traps to `get()` and `toList()` in pouch-db-* which seemed to be the sources of trouble.

[2018-12-11 07:15] #2408 closed

[2018-12-11 20:59] shaper commented on #1799
Closing in favor of https://github.com/PolymerLabs/arcs/issues/2199

[2018-12-11 20:59] #1799 closed

[2018-12-11 21:05] sjmiles commented on #2386
"no records" means "it exists but doesn't yet contain any handle records"

[2018-12-11 21:07] shaper commented on #1615
Checking on this as it's been over a week, this is presumably a blocker so if we'd like to move to the new shell before holidays I think we'd need to do this? Seeking comment.

[2018-12-11 21:33] shans commented on #2307
The problem comes from two sources:

(1) the storage engine is inefficient when it comes to large backing stores. This is something that we need to address at some point (e.g. by not loading backing store contents locally). I had hoped to address it as part of technical debt but I don't think that we'll manage to do that this year.

We could look at a more targeted fix for this; I think there's a

[2018-12-11 22:47] mykmartin commented on #2386
Thanks. Looks like I have a repro test case, investigating.

[2018-12-11 22:56] mykmartin commented on #2386
Which bit of the shell code is hitting this? I suspect the problem might be relying on calling toList() rather than using the event notification mechanism.

[2018-12-12 02:07] lindner commented on #2413
Some options?

 1. config UI that allows you to switch parameters.
 2. Don't allow mixed storageKeys
 3. Write the storageKeyBase to the primary storage storageKeys.  This would allow all config information to be containined in the system itself.  Maybe even consider creating a configuration arc?

[2018-12-12 02:07] lindner commented on #2407
I'll verify this tonight, but I do think that mimicing the firebase API solves this.

[2018-12-12 02:09] lindner commented on #2390
Scott took care of the some of these.  Goal is to get the webdriver tests working on Pouch soon, which should shake loose any other tidbits.

[2018-12-12 03:21] mmandlis commented on #2413
As a very first step I would like to just give the URLs params consistent, intuitive and unambiguous names.

Right now we support `storage` to define where the arc itself it stored (which also applies to the search strings storage).
And for plans, to override the default storage (which is same as the arcs storage) we have all three options - `plannerStorage` or `plannerStorageKeyBase` or `storageK

[2018-12-12 10:50] lindner commented on #1828
If we close this we should create a new issue to run webdriver tests with
Sauce or some other cross-browser mechanism.

On Tue, Dec 11, 2018 at 11:24 PM Maria Mandlis <notifications@github.com>
wrote:

[2018-12-12 18:22] #2398 closed

[2018-12-12 19:16] lindner commented on #2360
We will fix this with better documentation.

[2018-12-12 19:16] #2360 closed

[2018-12-12 19:42] mmandlis commented on #2397
Implemented and merged by @sjmiles:
https://github.com/PolymerLabs/arcs/pull/2423
https://github.com/PolymerLabs/arcs/pull/2431

Scott, is there any more work left on this one?

[2018-12-12 19:50] mmandlis opened #2437 "run webdriver tests cross-browser"
use Sauce or some other cross-browser mechanism.

(derived from https://github.com/PolymerLabs/arcs/issues/1828)

[2018-12-12 19:50] #1828 closed

[2018-12-12 21:08] sjmiles commented on #2413
In Shells I standardized the internal names with a `plannerPrefix`, to wit:

- plannerStorage
- plannerDebug
- plannerOnlyConsumer

I support this standard naming as params (plus old ones for backward compatibility):

[code]

Aside: url params (and dom attributes) are _true by existing_ by default, we generally avoid requiring String true (as for `onlyConsumer` above).

[2018-12-12 21:11] sjmiles commented on #2413
Another aside: IIUC all working storageKeys can be extended with additional path information, so in this sense, all storageKeys are also storageKeyBases.

Unless there is some specific meaning for the suffix Base, it's simpler to do away with it. Please let me know if I've missed something important.

[2018-12-12 21:38] sjmiles commented on #2413
re: _it's good to support mixed storageKeys _

Keep in mind that any time we have referenced data (Arc-A is here, Suggestion-A [belongs to Arc-A] is there) we introduce referential-integrity issues. Specifically, if arc A is deleted, who cleans up Suggestion-A? If database node containing Arc-A also parents the associated metadata, we don't have this problem.

Just something to consider from a KIS

[2018-12-12 22:40] sjmiles opened #2440 "SyntheticStore on handles via PouchDb returning empty array"
When I connect to this storageKey (e.g.)
[code]
It returns a Collection but `toList()` is empty (even though the store has values). See `planner-launcher/handles` here:

![image](https://user-images.githubusercontent.com/98045/49903323-afb13b00-fe1b-11e8-9521-8e8ed894547d.png)

Should be able to reproduce by opening
`arcs/shells/web-shell/?log=&storage=pouchdb://local/pouch`
for any user.

See num

[2018-12-12 23:04] mmandlis opened #2442 "Empty relevance map causes exception in serialization"
If none of the recipe's particles sets relevance, the de/serialization of Relevance object causes an exception

[2018-12-12 23:07] mmandlis opened #2443 "negative relevance handled incorrectly for non-ui recipes"
Relevance's `isRelevant` method should return false,
if at least one of the particles relevance lists ends with a negative score:
https://github.com/PolymerLabs/arcs/blob/master/src/runtime/relevance.ts#L86

But if none of the recipe's particles rendersUi, negative score won't affect relevance.

[2018-12-12 23:14] mmandlis commented on #2341
- `_slotByName` - data member of Particle is protected, should be made public.
- `fireEvent`, `renderSlot`, `renderHostedSlot` - add empty methods in class Particle

[2018-12-12 23:21] mmandlis opened #2445 "Duplicate `TV shows` suggestion"
Reproducible in arcs-live.

The only difference is, one has `map 'PROFILE_piped-tv_show' as handle11 // [TVMazeShow {...}]` and other has `map 'BOXED_all_piped-all_tv_shows' as handle11 // [TVMazeShow {...}]`

Do we need both suggestions? If so, probably we should tweak the recipe description to include a description of the distinguishing handle (and assign description to the handle).
WDYT?

[2018-12-12 23:21] mmandlis commented on #2445
TV shows.
recipe TVMazeDemo
  create #found #nosync as handle0 // [TVMazeShow {...}]
  create #nosync #uniquePiped as handle1 // [TVMazeShow {...}]
  create #shows #tiles as handle2 // [~a] // [TVMazeShow {...}]
  create #nosync #selected as handle3 // TVMazeShow {...}
  create #nosync #uniqueProfile as handle4 // [TVMazeShow {...}]
  map 'PROFILE_all_piped-all_tv_shows' as handle5 // [TVMazeShow

[2018-12-12 23:23] sjmiles opened #2446 "Preventing Coalescence"
Pipes UX presents a new use case. When we pipe an entity, say `{"type": "tv_show", "name": "star trek"}` the system spins up an Arc to process that entity.

At this point the Shell is not visible to the user, the goal is be able to provide meaningful suggestions related to that entity. The entity-processing-arc is responsible for those suggestions.

For the example entity, a suggestion might be `S

[2018-12-12 23:42] piotrswigon commented on #2446
For me to understand better:

Does `Star Trek is on NBC at 20:30 on Thursday.` reflect a non-rendering recipe? What happens when the user selects it? Do we then show up a follow up suggestion that involves rendering?

[2018-12-12 23:45] mmandlis opened #2447 "Duplicate `[demo] find restaurants and make reservations near you.` suggestion"
To reproduce in arcs-live:
- type `find` in search
- both: `find restaurants near you.` and `[demo] find restaurants and make reservations near you.` suggestions are visible
- accept `find restaurants near you.` suggestion
- now `[demo] find restaurants and make reservations near you.`  appears 3 times.
the only difference between the three is the `action` slot that is consumed by `ReservationForm

[2018-12-12 23:46] mmandlis commented on #2447
@sjmiles is it intentional that we have both - `find restaurants near you.` and `[demo] find restaurants and make reservations near you.`?

[2018-12-12 23:57] piotrswigon commented on #2446
The bottomline - I'm trying to figure out in abstract when non-rendering recipes are OK and when they're not. Clearly not everything needs to show UI. It would be good if we could encode it, even in a very low-fi version.

[2018-12-13 00:31] sjmiles commented on #2446
`Star Trek is on NBC at 20:30 on Thursday` is a rendering recipe. This is Step Two: render knowledge about Star Trek.

Step One is: gather knowledge about Star Trek. This is the bit that is non-rendering.

The DevicePipe sends a request to find out about Star Trek, triggering Step One.
Then Step Two is offered to the user as a Suggestion (but not executed until the suggestion is chosen).

However,

[2018-12-13 00:54] piotrswigon commented on #2446
Is below correct?

1. Entity is extracted by AiAi and tunneled to Arcs.
2. Shell creates a new Arc with the Entity.
3. Shell triggers planning for _Knowledge Gathering_ and instantiates found suggestions.
4. Once the arc is idle (Knowledge gathering is done), shell triggers planning for _Knowledge Rendering_.
5. Found suggestions are surfaced to the end user.

The bit I don't get is how do we know

[2018-12-13 01:07] piotrswigon commented on #2446
On a second thought I'm not sure of the gathering vs. rendering phases being separate in the long term. Though I'm ok with adding this quickly to enable demoes etc.

This conceptually fits with the speculative execution I think. Fetching and rendering would be performed speculatively, judged, and if relevant surfaced to the user.

We may want non-rendering suggestions to perform actions, e.g. "Not

[2018-12-13 01:15] sjmiles commented on #2446
I'm going to start and the end: I think what I would suggest at first is simply a way to disable coalescer.

Seems to me the usage is not knowable from the data and/or the recipes, but only from the modality the employing code find itself in.

The flow today is like this:

1. Entity is extracted by AiAi and tunneled to Arcs.
2. Shell creates a new Arc with the Entity. This arc performs Knowledge G

[2018-12-13 01:31] sjmiles commented on #2446
I do not request or trigger planning, from my perspective the Planificator does that on it's own schedule.

I imagine either the Planificator or the Arc interfaces would be the ones to provide `.disableCoalescer = true/false` (or whatever).

[2018-12-13 01:32] mmandlis commented on #2446
What is "suggestion" was just another type of modality and a particle could simply render to a "suggestion" slot (and not require coalescing)?

[2018-12-13 01:37] sjmiles commented on #2446
I don't understand how your proposal fits in with what I'm trying to do, can you elaborate?

[2018-12-13 01:55] sjmiles commented on #2446
Crossing the streams a little, but given that Planning might be happening remotely, it seems like a non-starter to try to reconfigure planing on-the-fly.

My second volley (for MVP) is somehow marking a Recipe as _not-suitable-for-colescing_.

[2018-12-13 02:09] piotrswigon commented on #2446
FWIW I don't understand why coalescer even triggers here. It thought it only triggers if a recipe cannot be resolved because a handle or slot is missing. Can you point me to the recipe you want to have running for the incoming entity?

[2018-12-13 02:11] mykmartin commented on #2440
I think the problem might be at https://github.com/PolymerLabs/arcs/blob/master/src/runtime/storage/pouchdb/pouch-db-storage.ts#L98 - this is calling construct() from connect(), which doesn't look right. connect() should fail if the target doesn't exist, not call construct.

[2018-12-13 02:37] piotrswigon commented on #2446
I'll be away from tomorrow till Monday. If this is pressing you or Maria can remove coalescer from the list of strategies and we can move from there.

[2018-12-13 02:39] sjmiles commented on #2446
This is not particularly pressing, sorry for any miscommunication.

The system is working today, I just have to hard-code the AiAi entity-types that we support, as we have in the past.

When it dawned on me that I could use Speculative Execution to have pluggable support for arbitrary types, I built an experiment and discovered this problem.

Bottom line, it's not a p1.

[2018-12-13 02:41] sjmiles commented on #2446
I'll work on conjuring an example of what I'm calling aggressive coalescing that we can look at together.

I had a different idea of when coalesced was employed, and it sounds like I had bad assumptions. I'll check my results.

[2018-12-13 02:44] piotrswigon commented on #2446
It is possible coalescer can be too aggressive - there's quite a bit of code there and I don't think I remember all the conditions we discussed and put there.

[2018-12-13 02:50] mykmartin commented on #2440
Also, the `$USER-launcher/handles` list isn't what synthetic storage is looking at. It connects to `$USER-launcher/arc-info` and is expecting a serialised version of the arc to exist (in an Entity-like format) under that.

[2018-12-13 03:30] mmandlis commented on #2397
in general remote planning works in shell 0_6_0.
I'll be filing all individual bugs and weirdnesses about produced plans in separate issues.

[2018-12-13 03:30] #2397 closed

[2018-12-13 20:07] mmandlis opened #2458 "Delete suggestions of deleted arcs"
(used to be supported in older shell planning)

[2018-12-13 20:21] mmandlis commented on #2413
Filed https://github.com/PolymerLabs/arcs/issues/2458 to track deletion of suggestions of deleted arcs (it used to be implemented in the firebase-only version of user-planner).

Closing this one.

[2018-12-13 20:21] #2413 closed

[2018-12-13 20:57] #2341 closed

[2018-12-13 20:58] #2390 closed

[2018-12-13 21:00] mmandlis commented on #2393
Implementation plan: https://docs.google.com/document/d/1ia3LSFHzeVhen2SpNmkqu0AUHz2XRRcVt8WnKH1Sbi4/edit?pli=1#

[2018-12-13 21:37] sjmiles commented on #2401
web-shell has a concept of _focused_ arc, which is the one that:

- is visible in DOM
- renders suggestions into the suggestion ui
- responds to search-text changes

I will modify web-shell to reset the search to '' whenever changing the focused arc.

[2018-12-13 23:02] sjmiles commented on #2440
Yes, I should not have jumped over that. Here is a complete dump of what's in the pouch:

![image](https://user-images.githubusercontent.com/98045/49972833-b60ce900-fee7-11e8-9363-ffe72a781f7f.png)

It looks like the serialization doesn't exist. I confirmed that `persistSerialization` is being called and there is a `set` operation for the ArcInfo, but it doesn't seem to make it into pouch.

I mess

[2018-12-13 23:05] #2401 closed

[2018-12-14 01:18] sjmiles commented on #2446
Fwiw, was chatting with Berni and he said that architecturally, this should all be done as part of speculative execution.

First, find a particle that has (dynamic) relevance, then coalesce it to produce the final valid suggestions.

This might actually work today, although I think the flow would be different (i.e. it would coalesce stuff first, then remove irrelevant combinations). I will experim

[2018-12-14 03:46] mmandlis commented on #2391
This is not reproducible anymore (after latest shell planning updates). Closing.

[2018-12-14 03:46] #2391 closed

[2018-12-14 06:04] sjmiles commented on #2445
I tried to comment out ` map 'PROFILE_piped-tv_show' as pipedShows` and the system put it back (with another option)!

To disable that data, I instead should have replaced it with `create #nosync as pipeShows`, which I did in #2466.

[2018-12-14 06:06] sjmiles opened #2467 "manifest parser confused by comment after resource-start array"
Parses succeeds:
[code]

Parser fails:
[code]

Error content:
[code]

Difference is only the order of the two lines after `start`.

[2018-12-14 16:52] #2442 closed

[2018-12-14 19:06] shaper commented on #2326
@lindner do you already know what we need to do here, or do you need to sync with @mykmartin? I know there were some design/approach issues that he discovered when doing the Firebase implementation so I thought worth checkpoint here as well to ensure you get his input soon if needed.

[2018-12-14 19:07] shaper commented on #2440
@lindner I think @sjmiles said you had a fix for this and that this issue as described is a red herring. Can you update and/or close as appropriate?

[2018-12-14 19:54] mmandlis opened #2471 "Slot consumer wrongly relies on certain model structure"
'dom' particle sends `template` and `model` to render into a slot.
however the current implementation of dom-slot-consumer relies on a certain structure of the `model`. For example, for set slots, it is expected to have `items` (and each item is expected to have an `id` and/or `subId`), and sometimes `items` is expected to have `models` inside.

The implementation needs to either be agnostic of th

[2018-12-14 20:35] #2405 closed

[2018-12-14 20:36] mmandlis commented on #2405
Planificator readme: https://github.com/PolymerLabs/arcs/blob/master/src/runtime/plan/README.md

[2018-12-14 21:23] mariakleiner opened #2473 "Recipe slot with no name causes exception in plan-consumer"
In a recipe:
[code]
`otherSlot` is not used and not connected to any slot connection, so it ends up as a resolved slot (it has an id) with no name.

Plan-consumer code (and possibly other places as well) assumes that all slots have names.
Is the assumption wrong, should we check for name existence? Should this be a manifest error? @shans WDYT?

[2018-12-17 17:37] #2412 closed

[2018-12-17 22:24] mariakleiner opened #2478 "Interface name collisions in immediate handles"
there are 2 manifest files:
[code]
and
[code]
If both recipes are instantiated in the same arc, and arc is serialized, then deserialization will fail, because the interfaces are serialized as part of the arc serialization and one of them overrides the other.

[2018-12-18 04:20] sjmiles commented on #2446
I attempted to arrange this as follows:

1. DeviceClientPipe receives a data object (called an "Entity" unfortunately)
2. Shell constructs a manifest that embeds the data object  as a PipeEntity (today,  just `{Text type, Text Name}`)
3. Particles exist that transform compatible PipeEntity's into other objects. E.g. TVMazeShowPipe can convert PipeEntity (with `type: 'tv_show'`) into `TVMazeShow`.

[2018-12-18 05:01] piotrswigon commented on #2446
Your takeaway is not entirely correct. For the September offsite demoes we introduced some hacks that allow dynamic descriptions. Here's a PR that introduced that for the now playing demo: #1966. This is very low fidelity, but works.

[2018-12-18 05:45] mmandlis opened #2484 "Implement a method to delete storage"
Currently it is only possible to delete the storage contents, not the storage itself.
The use case is, for example, to delete suggestions storage of an arc that was deleted.

[2018-12-18 05:50] mmandlis opened #2485 "Deleted arc remains active in a different tab"
To reproduce:
- create a new arc (by accepting a suggestion in launcher)
- open arcs launcher in a different tab
- delete the arc (created above)
As a result, in the other tab user can still accept suggestions in an arc that no longer exists and will never be serialized.

[2018-12-18 05:52] mmandlis commented on #2458
The PR https://github.com/PolymerLabs/arcs/pull/2486 only addresses deletion of arcs from remote planner.
When arc is deleted from Shell's launcher, the planificator for that arc doesn't even exist. Should I create it and delete the suggestions? @sjmiles please, advise what's the best approach here.

[2018-12-18 19:54] mmandlis opened #2490 "Restaurants demo asserts with remote planning"
To reproduce:
- run remote planning for 'user'
- run shell with &plannerOnlyConsumer in the browser
- accept "Find restaurants near you" suggestion
The recipe is instantiated, but an error appears in the console
`Error: Multiple slotid-!859659263222556:user-null:9:d2ab5e542d1ab8944cf5173665239289883fdd43 inner slots cannot be provided`

The arc behaves normally, next suggestions appear and can be

[2018-12-18 20:08] mmandlis opened #2491 "Restaurants demo - already active recipe is suggested again"
With remote planner and &plannerOnlyConsumer in shell:
- accept "Find restaurants near you"
- in the new arc, type * in search input
- "Find restaurants near your" is suggested again

This might be related to https://github.com/PolymerLabs/arcs/issues/2490, because it is not reproducible with local planner in shell

[2018-12-18 20:19] #2407 closed

[2018-12-18 22:36] mmandlis commented on #2490
Once the restaurants suggestion is accepted in shell, the arc is deserialized in remote-planner (and planning is performed).
Then after a short delay the [Restaurant] store ends up containing each restaurant **twice**.

This is a transient state, and with the second refresh in shell, the page no longer causes an exception, but the arc has **two** VolatileStorages for each inner-arc handle.

I disa

[2018-12-18 23:10] raulverag commented on #1878
I've installed madge and tried this for myself:

madge --circular .
Processed 918 files (12.5s) (69 warnings)

✖ Found 13 circular dependencies!

1) build/runtime/recipe/type-checker.js > build/runtime/type.js > build/runtime/interface-info.js
2) build/runtime/type.js > build/runtime/interface-info.js
3) build/runtime/recipe/type-checker.js > build/runtime/type.js
4) build/runtime/recipe/type-chec

[2018-12-19 08:51] #2404 closed

[2018-12-19 20:14] mmandlis opened #2495 "Split Gift shopping demo into multiple steps"
@sjmiles any reason these are all in a single recipe in the 0_6_0 shell?

[2018-12-19 21:23] mmandlis commented on #2490
repro: https://github.com/PolymerLabs/arcs/pull/2492

[2018-12-19 22:55] piotrswigon commented on #2490
We haven't done anything but thinking about design for inner arc serialization.

The error is coming from `_initInnerSlotContainer`, which is called when inspecting the rendered DOM for `slotid` attributes. This aligns well with your finding that restaurants are duplicated.

Shouldn't the storage layer disallow duplicates of entities in the collection? That was my understanding @mykmartin . There

[2018-12-19 23:04] piotrswigon commented on #2490
@mmandlis do you have an arc with a repro, and if you do can you grab its serialization from the storage?

I'm thinking that we may find the volatile stores of the transformation there - which would be a cue. Transformations code does not expect them to be serialized yet.

[2018-12-19 23:21] mykmartin commented on #2490
The storage layer doesn't detect duplicate entities; it relies on the id provided in the entity object. Using the same id twice with different entity data replaces the existing version (this is known incorrect behaviour that will be fixed when entity mutations are implemented). But it's quite possible to have the same entity data with two different ids in the same collection.

[2018-12-19 23:40] lindner commented on #2440
Retested.

Fixed by #2488

[2018-12-19 23:40] #2440 closed

[2018-12-20 00:01] #2411 closed

[2018-12-20 02:56] piotrswigon commented on #2490
Once suggestion has been accepted, Arc has been inflated by both web shell and the planner shell. Both arcs performed searches for restaurants, attempted to clear the `[Restaurant]` handle and insert the entities into it.

One my machine there was ~3 seconds difference of timing for clear followed by store performed by the web and the planner shells. In both cases the storage layer has noted 0 ent

[2018-12-20 03:21] mmandlis opened #2503 "duplicate "make reservation" suggestion"
to reproduce, accept "find restaurants near you" suggestion
as a result 2 "make reservation" suggestion appear

the only difference between the 2 suggestion is the `action` slot the `ReservationForm` particle consumes.
------------------------------------------------------
The slot / slot spec / slot connection tags are only somewhat supported.
The "Find restaurants ..." suggestion has 2 particle

[2018-12-20 03:21] mmandlis commented on #2503
@shans at some point we've been discussing how slot and slot connection tags should behave, but we never figured it out. Maybe this is a good moment to think about it again?

[2018-12-20 03:55] piotrswigon commented on #2478
@shans we don't have this issue with Schemas because with have inline schemas. Should we also have inline interfaces in ParticleSpec serialization (IMO why not, seems appropriate), or solve it at the later stage with some proper namespacing? WDYT?

[2018-12-20 04:38] mykmartin commented on #2490
Seems like a bad idea to have arcs in two different shells modifying the same handle? Especially since they're both completely clearing the collection.. I would have thought a planning arc would work on a clone of the source data, and/or have its own handles to modify.

[2018-12-20 04:48] mmandlis commented on #2490
@mykmartin When deserialization happens, the arc's active recipe is instantiated all over again, so planning arc is no different than a regular arc.
In fact, during my investigation i completely disabled planning, so the remote planner was just deserializing the same arc in parallel.

[2018-12-20 04:59] mykmartin commented on #2490
Ok, so putting aside the planning aspect: it still seems like a problem to have separate arcs actively modifying the same handle for the same plan at the same time. How does that not lead them to trample on each other? In this case it seems they were both clearing an empty collection, so no harm done, but that's not always going to be true.

[2018-12-20 05:11] #2378 closed

[2018-12-20 20:47] shaper commented on #2327
Checking status here, I know we discussed a bit in person and you'd found some differences between Firebase events and Pouch, and were going to (1) get Pouch to behave like Firebase, and (2) talk with @mykmartin, but this is just my from-memory (and I may be mixing issues).

[2018-12-20 20:48] shaper commented on #2326
Ping on above, holidays are nigh, if we want input from @mykmartin we'd likely need to talk today/tomorrow.

[2018-12-21 03:02] piotrswigon commented on #2490
Some comments:

1) Planner should not be starting up the arc. @shans had an idea of performing planning against a speculative arc. This would work with the caveat of having handles/slots etc. bound to wrong ids, so translation back to original arc would need to happen. Cloning gives back the translation map for ids I think, so that shouldn't be too hard.

Alternatively maybe we could perform plann

[2018-12-21 18:17] mmandlis opened #2514 "Planning represented in DevTools"
I would like to to add a separate page to the Arcs extension with Planning related info, including:
- each re-planning event, what triggered it, how long it took, the suggestions that were generated etc
- list of all suggestions at the given moment, including metadata (not available in strategy-explorer, eg rank) + whether each suggestion is visible (and why)
- info about suggestion / search stora

[2018-12-21 20:04] #2400 closed

[2018-12-21 21:32] piotrswigon commented on #2514
That sounds awesome. Maybe we should put some thinking in what view should be visible for consumer-only and producer-only components? When both are present in the same component we should display all the information. WDYT?

I would be very happy to assist in any way needed. Would it make sense for me to maybe help you get things off the ground just by setting up a basic page and sending some initi

[2019-01-02 08:31] piotrswigon opened #2519 "Flaky test: remote planificator merges remotely produced suggestions"
Fails once in about 4-5 runs on my laptop.

[2019-01-02 17:45] mmandlis commented on #2519
@piotrswigon Can you add the error here? It is not reproducible for me, so i might need your help to debug.

[2019-01-02 22:13] #2393 closed

[2019-01-02 22:59] piotrswigon commented on #2519
False alarm. The flakiness seems to be caused by one of my patches. I need to investigate what is happening there. Sorry @mmandlis !

[2019-01-02 23:01] piotrswigon commented on #2519
Ha, I just got a similar failure on AppVeyor:
https://ci.appveyor.com/project/arcs/arcs-3i77k/builds/21344909

Investigating.

[2019-01-02 23:09] mmandlis opened #2521 "Flaky remote planificator test"
Can't reproduce locally, but happens about half the time on appveyor (eg https://ci.appveyor.com/project/arcs/arcs-3i77k/builds/21344909):
[code]

[2019-01-02 23:20] mmandlis commented on #2519
Ha, i also filed an error for it: https://github.com/PolymerLabs/arcs/issues/2521
I've seen it earlier today too.

[2019-01-02 23:22] piotrswigon commented on #2519
I had the other test (merges remotely produced suggestions) failing one in 4 times at home. Maybe it has to do with network latency? Though these use local storage, right? So that's weird.

[2019-01-03 00:47] piotrswigon opened #2523 "Consider refactoring "suggestion composer > suggestion set-slots" test"
`Suggestion composer: suggestion set-slots` is building outer arc suggestions connecting to the inner arc particles. This used to work when inner arc was instantiated inside the outer arc. As inner arcs are properly represented as their own Arc instance (#2524), this test no longer works.

@mmandlis could you take a look at it? Alternatively you can explain what exactly needs to be tested and I ca

[2019-01-03 02:11] mmandlis commented on #2519
The newer failure (#2521) should be fixed with: https://github.com/PolymerLabs/arcs/pull/2522.
Closing this one for now. Please, reopen, if the original failure is reproducible again. Thanks.

[2019-01-03 02:11] #2519 closed

[2019-01-03 02:21] #2521 closed

[2019-01-03 20:43] mmandlis commented on #2523
This isn't suggestion-composer refactoring - the problem is not an inline suggestion not being rendered, but the suggestion isn't produced in the first place.

Inner arcs implementation in https://github.com/PolymerLabs/arcs/pull/2524 introduces a regression in the sense that we no longer strategize for the contexts of the inner arcs - like we incidentally did before, and want to explicitly do wit

[2019-01-03 20:58] piotrswigon commented on #2523
Yes - Just confirming that our understanding here is the same.

[2019-01-03 21:02] piotrswigon commented on #2523
Sorry for misleading title. `suggestion composer`: `suggestion set-slots` was intended as a name of a test. As in "Consider how to refactor this test, so that it still tests what it should test, without relying on inner arc strategization".

[2019-01-03 21:09] mmandlis commented on #2013
The error is no longer reproducible on arcs-live, closing now.

[2019-01-03 21:09] #2013 closed

[2019-01-03 22:59] lindner commented on #1810
The current plan for Node + ES modules is here:

http://2ality.com/2018/12/nodejs-esm-phases.html

You'll note that it includes browser equivalence as a core tenet; however it also adheres to mjs and other design decisions.

I'll see if there's some way we can get around the issues you identified.

[2019-01-04 21:02] #2523 closed

[2019-01-04 22:34] piotrswigon opened #2534 "Recursive inner Arcs blocked on SlotComposer"
Now that inner Arcs are represented as Arc instances (#2524) we could foresee having recursive inner arcs. This is however blocked on SlotComposer. I may not get to it that anytime soon, this refactoring doesn't seem trivial and we don't have a burning need for recursive inner arcs. We will however need that if we use inner arcs for holding real arcs (e.g. social posts), which themselves may do mu

[2019-01-07 00:10] piotrswigon commented on #2534
@mmandlis I will try to have a stab at this. I'll try to make the change which I described above, i.e. so that creating a hosted slot in the inner arc manifests as a `SlotContext` in the `SlotComposer`. Let me know whether you would like to give me some input :)

[2019-01-07 19:45] sjmiles commented on #2495
Serialization (et al) were broken for a time, this was the only way to test all the demo functionality (in one step).

I plan to factor it into bits as before, but this issue plays into the question of what is desirable granularity.

[2019-01-08 02:09] piotrswigon opened #2538 "non-Recipe object passed to arc.instantiate()"
When a follow-up suggestion for an arc is produced, an attempt to instantiate it (by clicking on it in the suggestion drawer) can cause a blow-up, as the 'recipe' passed to arc.instantiate is not a Recipe instance.

You may be able to repro it here:
https://polymerlabs.github.io/arcs-live/shells/web-shell/?user=xyz&arc=xyz--LVfBaPZkd7UvcTMBJXA

Currently clicking on the "Find out about Claire's in

[2019-01-08 18:38] lindner opened #2543 "storage, storageKeyBase and other parameters should be validated"
Typical situation is specifying a parameter like this:

  `storage=http://localhost:8080/user`

 instead of

  `storage=pouchdb://localhost:8080/user`

These parameters should be verified early in the process and generate proper visual error state to the end user.

[2019-01-08 20:58] lindner opened #2544 "Improve SlotComposer Fakes/Mocking"
Developer-User Stories
 - A TestHelper object can be created with a FakeSlotComposer
 - A MockSlotComposer can be created with a mocking framework to simplify expected usages.

`TestHelper` makes a number of assumptions about MockSlotComposer.  The code should be adjusted such that it can use a FakeSlotComposer for cases where a Mock is too complicated.

Another possibly more fruitful avenue is su

[2019-01-08 21:18] sjmiles opened #2545 "Suggestion would perform duplicate work"
A Pipe request creates an arc with an activeRecipe like this:
[code]

Then the planner suggests adding particles like so:

[code]

The suggestion will work fine, but all it does is create a duplicate handle (`create #piped #tv_show as handle2`) and recalculate data that already exists in the Arc.

[2019-01-08 21:37] mmandlis opened #2546 "Strategy-explorer not showing suggestions for the `-null` arc"
This happens because recipe-index generates plans that override the suggestions produced by Planner.
I think recipe-index is repeatedly re-triggered by `ArcsRecipeEditor::runPlanner()`.

[2019-01-08 22:49] mmandlis commented on #2545
I think this is duplicate of https://github.com/PolymerLabs/arcs/issues/2491

[2019-01-08 23:06] sjmiles commented on #2467
@Cypher1 Thanks for working on the repro. I added some notes (to #2498) about additional requirements to produce the failure (upshot: the problematic import must itself be transitively imported).

[2019-01-09 08:15] piotrswigon opened #2550 "RecipeUtil.find called with non-Particle object."
I often have an error when using the web-shell, it's in `RecipeUtil.find(recipe, shape)`. In the line:

```if (shapeParticle.unnamedConnections.length > 0) {```

the `shapeParticle` is not a particle, but a plain JS object which does not have a `unnamedConnections` property. This causes an error with `Cannot read property 'length' of undefined`.

The stack trace is:
[code]

You may see this here i

[2019-01-09 09:20] piotrswigon commented on #2546
It turns out there were 2 separate issues. 1) as observed, recipe editor was sending strategization, which it shouldn't. 2) is that Index strategization was sent *after* the strategization of the already serialized suggestions, and the former was overriding the latter. Sent a fix to both in #2551.

Thanks for reporting. Sorry for bugs.

[2019-01-09 18:34] mmandlis opened #2552 "proper JSON representation for Recipe"
Currently suggestion.ts declares a `Plan` class (https://github.com/PolymerLabs/arcs/blob/master/src/runtime/plan/suggestion.ts#L34) that is a JSON representation for a `Recipe`, used for de/serialization to/from storage and some basic reasoning about prior to plan instantiation, for example performing `RecipeUtil.matchesRecipe` on the JSON form of the plan (now fails on #2550, also `handleConnect

[2019-01-09 19:33] #2546 closed

[2019-01-09 19:54] piotrswigon commented on #2552
Can you explain why we cannot perform proper plan de-serialization in Recipe instance straight away? Given that we do it before plan instantiation. Is there some gotcha there?

[2019-01-09 21:46] #2550 closed

[2019-01-09 22:07] mmandlis commented on #2552
The original reason to introduce the current JSON format was to make `fromLiteral` method synchronous and not dependent on anything other than the serialized data.
`Manifest.parse` method is async and requires loader and context. Occasionally a RecipeResolver is needed to resolve the deserialized recipe.

I talked to @shans about this and we decided to not implement this issue.

Instead I will:
-

[2019-01-09 22:07] #2552 closed

[2019-01-09 22:10] mmandlis opened #2557 "Immediately Deserialize suggestion plan when loading from store"
2. update fromLiteral to allow relying on user environment data (but not specific arc though), add loader and context to Runtime class and pass it to fromLiteral
3. RecipeResolver: I need to investigate whether this is still happening and why. If it is not easy to fix, I'll move resolving the recipe to the instantiate method
3. get rid of the existing `Plan` class (in suggestion.ts) - comment that

[2019-01-09 22:10] mmandlis commented on #2557
some background info: https://github.com/PolymerLabs/arcs/issues/2552

[2019-01-09 22:41] lindner opened #2561 "Introduce typescript generics where it makes sense"
There are a number of places where generics would help make the code easier to understand and use.  Specifically there are some types that wrap other types.  Those would make good candidates to convert.

To start the generic discussion please see `CollectionType` in `type.ts`.  It wraps another type and provides collectionType() to get at the underlying object.  That currently returns Type, instea

[2019-01-09 23:18] mmandlis commented on #2473
- The unused slot in the recipe is human input
  - It is not added by serialization or strategies, so it's not a bug
- It should not cause error in manifest parsing
  - the rest of code should handle it and not fail

But no changes will be made to fix this for now.
Will revisit again after SLANDLES (slots and handles unification) are done

[2019-01-09 23:34] #2089 closed

[2019-01-10 16:17] seefeldb opened #2567 "restaurant demo partially broken"
Steps: Type restaurants, selected nearby restaurants suggestion, tap on a result:

Expected: "Make a reservation for 2 at 19:00" or so
Actual: "Make a reservation"

Steps: Tapping that reservation suggestion.

Expected: Calendar suggestion
Actual: No default suggestions

[2019-01-10 18:57] lindner commented on #2327
Would prefer to add _fire() testing, but have not gotten there quite yet.  The Volatile and Firebase tests are still stuck in non-typescript land, so that still makes it difficult to mock.

[There's a reason I was spending so much time converting to typescript!]

That said this is manually verified across all code paths.  There was one cloneFrom call that needed updating, plus the version number h

[2019-01-10 18:57] #2327 closed

[2019-01-10 21:38] sjmiles commented on #2567
I factored ReservationForm and ReservationAnnotation into discrete bits (they used to do duplicate work).  This is also why there are two declarations of ReservationForm in the recipe (one for the all restaurants, one each for the per-restaurant annotations).

That required moving the description generation into ReservationAnnotation and I just didn't get that done. I'll do it today.

[2019-01-11 00:04] sjmiles opened #2570 "Exception while error reporting on transitive manifests"
`canonical.manifest` imports `Restaurants.recipes`.

If `Restaurants.recipes` has an error in it (e.g. slot-name mismatch), we throw inside of `manifest.js::processError` because the `lines` object corresponds to `canonical.manifest` and the error being processed is from `Restaurants.recipes`.

This leads to an attempt to dereference a null `line` object on line 365.

[2019-01-11 00:32] mmandlis opened #2571 "strategy-explorer UI is confusing"
afaik it allows switching between different sets of planning generations, and also comparing them, but it is not discoverable and confusing to use.
would be great to make the UI more usable (and at least start with documenting the current state)

<img width="920" alt="screen shot 2019-01-10 at 4 27 19 pm" src="https://user-images.githubusercontent.com/25067830/51005693-b7d0c900-14f4-11e9-8106-76c3

[2019-01-11 01:04] piotrswigon commented on #2571
Argh, Yes! You're right! This issue forces me to push this problem a bit further up my TODO list! I will look into it at some point.

@mmandlis I assume we will want to have a link between your planning panel and the StrategyExplorer. I'm thinking it should be possible to click navigate from SE to the planning tab and reveal details of the planning pertaining to this population, and vice versa. I

[2019-01-11 02:02] mmandlis opened #2572 "Revisit UI rendering particles API"
(disclaimer: currently the only supported modality is DOM, so I’ll use it as an example in the issue description).

PEH: SlotComposer maintains global cache of DOM templates.
PEH -> PEC: StartRender call is sent to a particle, including the list of requested “types”: which may be `template` (if template is not in the cache) and `model`.
PEC -> PEH: Particle passes the requested types (`model` and

[2019-01-11 02:04] piotrswigon commented on #2571
Regarding the Index population, I would simply provide no 'link' to the respective planning.

When you are doing stuff with the arc (accepting suggestions etc.) planner continues planning and produces new populations. The new one used to always overwrite the old one in StrategyExplorer UI. I added this concept of the library where you can "remember" given population and when the new one appeared y

[2019-01-11 02:51] mmandlis opened #2574 "Add default handle restrictions to provided slots"
[code]

Today `slotAa` provided by particle `A` will be restricted to `handle0`, so any particle that will be allowed to consume `slotAa` must be also connected to `handle0`.
However `slotBb` provided by particle `B` will NOT be restricted at all and will be allowed to be consumed by any particle at all (originally this made more sense when slots were only connected via slot names. However with th

[2019-01-11 19:47] thebrianchen opened #2575 "adding TV Shows to Restaurants results in broken activeRecipe"
Trying to load [demo] TV shows fails and outputs the following in the console
[code]

Repro steps:
1) Visit http://localhost:8786/shells/web-shell/index.html as a newly created user.
2) Enter * in the search bar.
3) Try clicking on [demo] TV show from the search list.

[2019-01-11 20:04] lindner commented on #779
Potential steps:

- Add a new command line option to `sigh.js`
- Find the magic [mocha](https://mochajs.org/api/mocha) repeat or numtimes api.

[2019-01-11 20:07] shaper commented on #779
@mykmartin I recall you'd found a way to use the mocha repeat through double-double-hyphens or something but I can't find it now.

[2019-01-11 20:17] sjmiles opened #2576 "Exceptions from DevTools extension"
internal to extension (commented code is a fix I tried):
![image](https://user-images.githubusercontent.com/98045/51058480-beffe180-159d-11e9-861e-d88a668bd245.png)

only happens when extension is installed:
![image](https://user-images.githubusercontent.com/98045/51058206-e30ef300-159c-11e9-9f83-48dc0490f169.png)

happens running Restaurant demo:
![image](https://user-images.githubusercontent.com

[2019-01-11 20:45] sjmiles commented on #2575
I tried your repro steps and couldn't recreate the problem.

Did you do any tasks before you got to '[demo] TV show`?

I logged in as your user and got this error right away, it seemed like there was a broken Arc (which I deleted and then things went back to normal).

[2019-01-11 21:05] piotrswigon commented on #2576
Thank you @sjmiles for reporting! There are a few issues here... I will try to understand what is happening.

[2019-01-11 21:19] lindner commented on #2561
@eggplanthater - might want to look at this afterwards.

[2019-01-11 23:58] mmandlis opened #2578 "Include original slot names to the DOM template"
Follow up #2228 and #2345
Having slot names in the DOM will make debugging so much easier.
FYI @sjmiles

[2019-01-12 01:15] mmandlis opened #2580 "Merging Suggestions can be weird when recipes/manifests are changed"
Proposed steps:
- Add relevant particle manifest hashes to the suggestion metadata.
- When merging 2 sets of suggestions, compare hashes of particle manifests between the 2 sets. If existing set of suggestions relies on particles whose hashes have changed in the new set, override suggestions instead of merging.
- Keep track of suggestions “origin” (device / cloud ID). Only merge suggestions from d

[2019-01-12 06:34] sjmiles opened #2581 "Muxer problem (maybe?) with Reservations"
Requires https://github.com/sjmiles/arcs/tree/misc-2019 for the test particles.

Steps:
1. Launcher
2. Choose `Find restaurants...`
3. Choose `... and make reservations`

Problems:
1. ReservationAnnotation particles are not rendering (should be visible under each restaurant Tile)
2. Usually I get this exception (DevTools):
![image](https://user-images.githubusercontent.com/98045/51070139-cef4e100-

[2019-01-13 22:55] piotrswigon opened #2582 "Improve DevTools predictability"
Implement a strong marker in DevTools UI which shows up when the code can understand that DevTools is not initialized properly. Cases I know about today:

* If DevTools have been opened after the arc inflation.
* If DevTools have been closed and re-opened.

A UI marker is a first step. At some point we will fix the tool to connect to already inflated system and be usable, but that's a bit more wor

[2019-01-13 22:57] piotrswigon opened #2583 "Investigate: View into details of speculative execution in DevTools"
Piotr to report on this bug what speculative execution judges the recipes on and to follow up whether there is enough non-obvious behavior to warrant some UX in DevTools that can aid recipe/particle developer's understanding.

[2019-01-13 22:58] mykmartin commented on #779
@shaper Not that I can recall... webdriver has the `mochaOpts` flag, so you can do this sort of thing: `npm run test-wdio -- --mochaOpts.grep 'gl.*'`

But that's not applicable to the standard command-line tests run by sigh.

[2019-01-13 23:01] piotrswigon opened #2584 "Add "bug report" tool to DevTools."
It will allow downloading a file from DevTools that can be attached to the bug report. This file can then be opened by the debugging engineer using the standalone DevTools UI, or inspected manually.

The downloadable report will, among other information, contain a log of all the messages received by DevTools. This will allow to transparently snapshot the state of all the views it provides. Today t

[2019-01-13 23:29] piotrswigon opened #2585 "Ensure Syntax Errors are lenient"
I.e. if there's a syntax error in one manifest file, this will not cause construction of a corrupted context.

[2019-01-14 00:54] piotrswigon commented on #2446
Hey @sjmiles, what's the status of this Issue? Is there something for me to do?

[2019-01-14 00:58] thebrianchen commented on #779
Is the ultimate goal to optionally retry tests 'n' times until it passes, or to run tests repeatedly to determine flakiness?

[2019-01-14 03:14] #2534 closed

[2019-01-14 04:18] thebrianchen commented on #2575
I created the user by appending `&user=chenbrian` at the end of the url.

I tried through some different starting steps and figured out how to repro the situation consistently.
1) Create new user
2) From the search bar, click on "[demo] find restaurants and make reservations near you"
3) From the search bar, click on "[demo] TV"
4) Same error as above in console +"[demo] TV" does not load. Clickin

[2019-01-14 19:31] mmandlis commented on #2584
maybe this tool should be filing the bug itself as well?

[2019-01-14 19:40] sjmiles commented on #2578
Meta: it is true in general that the more of the human-generated names we use the easier it will be to reason about what is happening at runtime (of course, the converse is true, that if the _goal_ is obfuscation, then you want to replace all of the names). I believe we are also going to want/need to be able to extract/generalize a Plan back into a Recipe: especially for capturing an ActiveRecipe

[2019-01-14 19:43] sjmiles commented on #2576
See also #2851, may be some overlap with Planner problem?

[2019-01-14 19:59] mmandlis commented on #2581
The very top exception is issue #2576 and fixed by #2588.

Once that is fixed, for `?user=scott&arc=scott--LVuNaW4SK6JlEPe8VYm` i'm getting:
[code]
And I think the Calendar particle is in fact missing. @sjmiles Could you, maybe merge it, so we can debug the rest of the issue.

[2019-01-14 20:11] mmandlis commented on #2503
quick update: currently there are 2 "make reservations" and 3 "[demo] find restaurants and make reservations near you." suggestions. Within each group they only differ by which slot is chosen to be the `action` slot for one of the ReservationForm particles.

Generally, aside from reducing the number of suggestions that only differ in slots assignment (https://github.com/PolymerLabs/arcs/issues/257

[2019-01-14 20:32] sjmiles commented on #2581
Did you pull the branch as per instructions above? Or are you asking me to push this stuff into main?

[2019-01-14 20:36] mmandlis opened #2589 "contextual init-population doesn't work well for coalescing"
for example, the user selected "find restaurants"
the next suggestion (that we would want to be able to propose) is `make reservation` - it is "contextual", because it uses the "restaurant" handle, currently in the active arc.
- but it needs to be coalesced with a `Calendar recipe` (to generate the `event` handle), but this recipe isn't even part of init-population, because it is not using any of

[2019-01-14 20:36] mmandlis commented on #2589
@piotrswigon would like to get your ideas and opinions here.

[2019-01-14 20:37] mmandlis commented on #2581
ops sorry, i tried it with the wrong branch. will retry now.

[2019-01-14 20:43] sjmiles commented on #2576
A few other exceptions that popped up. Making a multi-issue seem improper, but it also feels efficient for capturing this miscellany, sorry if it's troublesome (the _ResizeObserver loop_ exception has no detail information).

![image](https://user-images.githubusercontent.com/98045/51139719-7c3a4580-17f9-11e9-8ce0-b3ffafac55e9.png)

![image](https://user-images.githubusercontent.com/98045/51139865

[2019-01-14 22:36] lindner commented on #2561
here's some sample code that might just work!

[code]

[2019-01-14 22:37] lindner commented on #2561
this avoids a lot of code that does this:

[code]

[2019-01-15 00:40] sjmiles commented on #2262
We migrated to 0_6_0, a form of success.

[2019-01-15 00:40] #2262 closed

[2019-01-15 00:45] sjmiles commented on #2567
Working on this issue, currently blocked on https://github.com/PolymerLabs/arcs/issues/2581.

[2019-01-15 00:47] mykmartin commented on #2561
:+1:

[2019-01-15 03:02] mmandlis opened #2591 "The recipe panel in Strategy-explorer is not cleared when switching to different arc of refreshing"

[2019-01-15 04:46] Cypher1 opened #2592 "Tags for Recipe Handles"
Using the current RecipeHandle syntax we can name handles  e.g.
[code]
but we cannot add tags e.g.
[code]
RecipeHandle should use the NameAndTagList syntax used by ParticleArgument and the tags should be passed through appropriately.

[2019-01-15 05:05] mmandlis commented on #2592
We do have a syntax to support tags in `RecipeHandle`, as in: https://github.com/PolymerLabs/arcs/blob/master/src/runtime/test/manifest-test.ts#L38

[code]
https://github.com/PolymerLabs/arcs/blob/master/src/runtime/manifest-parser.peg#L777
and `HandleOrSlotRef` is:
[code]
https://github.com/PolymerLabs/arcs/blob/master/src/runtime/manifest-parser.peg#L874

But this syntax is used to imply that on

[2019-01-15 18:13] mmandlis opened #2594 "missing info in arc extension because of cyclic messages from plan-consumer"
https://github.com/PolymerLabs/arcs/pull/2593 asserts on cyclic messages.
Planning results message contains cyclic structure as of: https://github.com/PolymerLabs/arcs/pull/2569.

This may affect additional messages to the extension, if they happen to be part of the same bundle (like `generations`).

working on a fix now.

[2019-01-15 18:47] mmandlis opened #2596 "Devtools Planning: mark visible suggestions"
in the arcs extension planning page.

[2019-01-15 18:51] mmandlis opened #2597 "Devtools Planning: display void replanning attempts"
in arcs extensions planning page display metadata of replanning attempts that didn't update the suggestions.

[2019-01-15 18:52] mmandlis opened #2598 "Devtools Planning: show what triggered replanning"
in arcs extensions planning page: add indication and display what triggered the replanning.

[2019-01-15 18:53] mmandlis opened #2599 "Devtools Planning: default to `-null` arc suggestions when in launcher arc"
in arcs extension planning page when returning launcher arc, should show the `-null` arcs suggestions.

[2019-01-15 20:46] mmandlis commented on #2402
Status update: Description no longer depends on speculative arc, but it still isn't serializable, because it relies on Recipe object. Instead, should tokenize and serialize token values.
This is low priority though until we support more modalities.

[2019-01-15 22:31] mmandlis commented on #1902
The test was re-enabled and passing now. Closing the issue.

[2019-01-15 22:31] #1902 closed

[2019-01-15 23:05] mmandlis commented on #962
the recipes have significantly changed (several times) since this issue was filed.
closing as stale.

[2019-01-15 23:05] #962 closed

[2019-01-15 23:14] #2594 closed

[2019-01-16 01:45] #2596 closed

[2019-01-16 01:57] mmandlis opened #2603 "planificator-test is flaky"
[code]

[2019-01-16 02:24] sjmiles opened #2605 "StorageStub.inflate error deserializing FindRestaurants Arc under PouchDb"
Repro:

1. invoke web-shell with options `.../web-shell/?plannerStorage=volatile&storage=pouchdb://local/test`
2. type "restaurant" into search box
3. choose "Find restaurants" suggestion.
4. refresh the page

![image](https://user-images.githubusercontent.com/98045/51222405-6f4d4d00-18f2-11e9-855c-2b67adafc7f4.png)